<a href="https://colab.research.google.com/github/ptoledoc7/Prueba/blob/main/Trabajo_Final_Pablito_Toledo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd

In [270]:
df1 = pd.read_csv('Credit_Card_BillATM.csv')
df2 = pd.read_csv('Credit_Card_Pay.csv')
df3 = pd.read_csv('Credit_Card_PayATM.csv')
df4 = pd.read_csv('Credit_Card_PayNextMonth.csv')

In [271]:
df1

,Unnamed: 0,ID,LIMIT_BAL,SEX,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6
0,0,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0
1,1,2,120000.0,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0
2,2,3,90000.0,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0
3,3,4,50000.0,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0
4,4,5,50000.0,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0
5,5,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0
6,6,7,500000.0,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0
7,7,8,100000.0,female,11876.0,380.0,601.0,221.0,-159.0,567.0
8,8,9,140000.0,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0
9,9,10,20000.0,male,0.0,0.0,0.0,0.0,13007.0,13912.0
10,10,11,200000.0,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0
11,11,12,260000.0,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0
12,12,13,630000.0,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0
13,13,14,-,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0
14,14,15,250000.0,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0
15,15,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0
16,16,17,20000.0,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0
17,17,18,320000.0,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0
18,18,19,-,female,0.0,0.0,0.0,0.0,0.0,0.0
19,19,20,180000.0,female,0.0,0.0,0.0,0.0,0.0,0.0
20,20,21,130000.0,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0
21,21,22,120000.0,NaN,316.0,316.0,316.0,0.0,632.0,316.0
22,22,23,-,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0
23,23,24,450000.0,female,5512.0,19420.0,1473.0,560.0,0.0,0.0
24,24,25,-,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0
25,25,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0
26,26,27,60000.0,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0
27,27,28,50000.0,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0
28,28,29,50000.0,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0
29,29,30,50000.0,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0
30,30,31,230000.0,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0
31,31,32,50000.0,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0
32,32,33,100000.0,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0
33,33,34,500000.0,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0
34,34,35,500000.0,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0
35,35,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0
36,36,37,-,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0
37,37,38,60000.0,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0
38,38,39,50000.0,male,0.0,780.0,0.0,0.0,0.0,0.0
39,39,40,280000.0,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0
40,40,41,360000.0,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0
41,41,42,70000.0,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0
42,42,43,10000.0,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0
43,43,44,140000.0,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0
44,44,45,40000.0,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0
45,45,46,210000.0,male,0.0,0.0,0.0,0.0,0.0,0.0
46,46,47,20000.0,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0
47,47,48,150000.0,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0
48,48,49,380000.0,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0
49,49,50,-,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0
50,50,16,50000.0,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0
51,51,36,160000.0,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0

In [272]:
df1.dtypes

Unnamed: 0      int64
ID              int64
LIMIT_BAL      object
SEX            object
BILL_AMT1     float64
BILL_AMT2     float64
BILL_AMT3     float64
BILL_AMT4     float64
BILL_AMT5     float64
BILL_AMT6     float64
dtype: object

In [273]:
df2

,Unnamed: 0,ID,LIMIT_BAL,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,PAY_6
0,0,1,20000.0,No info,2,2,-1,-1,-2,-2
1,1,2,120000.0,26 years,-1,2,0,0,0,2
2,2,3,90000.0,34 years,0,0,0,0,0,0
3,3,4,50000.0,37 years,0,0,0,0,0,0
4,4,5,50000.0,57 years,-1,0,-1,0,0,0
5,5,6,50000.0,No info,0,0,0,0,0,0
6,6,7,500000.0,29 years,0,0,0,0,0,0
7,7,8,100000.0,23 years,0,-1,-1,0,0,-1
8,8,9,140000.0,28 years,0,0,2,0,0,0
9,9,10,20000.0,35 years,-2,-2,-2,-2,-1,-1
10,10,1,20000.0,No info,2,2,-1,-1,-2,-2
11,11,12,260000.0,51 years,-1,-1,-1,-1,-1,2
12,12,13,630000.0,41 years,-1,0,-1,-1,-1,-1
13,13,14,70000.0,30 years,1,2,2,0,0,2
14,14,15,250000.0,29 years,0,0,0,0,0,0
15,15,16,50000.0,No info,1,2,0,0,0,0
16,16,17,20000.0,24 years,0,0,2,2,2,2
17,17,18,320000.0,49 years,0,0,0,-1,-1,-1
18,18,19,360000.0,49 years,1,-2,-2,-2,-2,-2
19,19,20,180000.0,29 years,1,-2,-2,-2,-2,-2
20,20,21,130000.0,No info,0,0,0,0,0,-1
21,21,22,120000.0,39 years,-1,-1,-1,-1,-1,-1
22,22,23,70000.0,26 years,2,0,0,2,2,2
23,23,24,450000.0,40 years,-2,-2,-2,-2,-2,-2
24,24,25,90000.0,23 years,0,0,0,-1,0,0
25,25,26,-,23 years,0,0,0,0,0,0
26,26,27,60000.0,27 years,1,-2,-1,-1,-1,-1
27,27,28,50000.0,30 years,0,0,0,0,0,0
28,28,29,50000.0,47 years,-1,-1,-1,-1,-1,-1
29,29,30,50000.0,26 years,0,0,0,0,0,0
30,30,31,-,27 years,-1,-1,-1,-1,-1,-1
31,31,32,50000.0,33 years,2,0,0,0,0,0
32,32,33,100000.0,32 years,0,0,0,0,0,0
33,33,34,-,54 years,-2,-2,-2,-2,-2,-2
34,34,35,500000.0,58 years,-2,-2,-2,-2,-2,-2
35,35,36,160000.0,No info,-1,-1,-2,-2,-2,-1
36,36,37,280000.0,40 years,0,0,0,0,0,0
37,37,38,60000.0,22 years,0,0,0,0,0,-1
38,38,39,50000.0,25 years,1,-1,-1,-2,-2,-2
39,39,40,280000.0,31 years,-1,-1,2,-1,0,-1
40,40,41,360000.0,No info,0,0,0,0,0,0
41,41,42,70000.0,25 years,0,0,0,0,0,0
42,42,43,-,22 years,0,0,0,0,0,0
43,43,44,-,37 years,0,0,0,0,0,0
44,44,45,40000.0,30 years,0,0,0,2,0,0
45,45,46,210000.0,No info,-2,-2,-2,-2,-2,-2
46,46,47,20000.0,22 years,0,0,2,-1,0,0
47,47,48,150000.0,46 years,0,0,-1,0,0,-2
48,48,49,380000.0,32 years,-1,-1,-1,-1,-1,-1
49,49,50,20000.0,24 years,0,0,0,0,0,0
50,50,11,-,34 years,0,0,2,0,0,-1
51,51,26,-,23 years,0,0,0,0,0,0

In [274]:
df2.dtypes

Unnamed: 0     int64
ID             int64
LIMIT_BAL     object
AGE           object
PAY_0          int64
PAY_2          int64
PAY_3          int64
PAY_4          int64
PAY_5          int64
PAY_6          int64
dtype: object

In [275]:
df3

,Unnamed: 0,ID,LIMIT_BAL,EDUCATION,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6
0,0,1,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
1,1,2,120000.0,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0
2,2,3,90000.0,Null,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0
3,3,4,-,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
4,4,5,50000.0,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0
5,5,6,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0
6,6,7,-,1,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0
7,7,8,100000.0,2,380.0,601.0,0.0,581.0,1687.0,1542.0
8,8,9,140000.0,3,3329.0,0.0,432.0,1000.0,1000.0,1000.0
9,9,10,20000.0,Null,0.0,0.0,0.0,13007.0,1122.0,0.0
10,10,11,200000.0,3,2306.0,12.0,50.0,300.0,3738.0,66.0
11,11,12,260000.0,1,21818.0,9966.0,8583.0,22301.0,0.0,3640.0
12,12,13,630000.0,Null,1000.0,6500.0,6500.0,6500.0,2870.0,0.0
13,13,14,70000.0,2,3200.0,0.0,3000.0,3000.0,1500.0,0.0
14,14,15,250000.0,1,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0
15,15,16,50000.0,3,0.0,1500.0,1100.0,1200.0,1300.0,1100.0
16,16,17,20000.0,1,3200.0,0.0,1500.0,0.0,1650.0,0.0
17,17,18,320000.0,1,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0
18,18,19,360000.0,1,0.0,0.0,0.0,0.0,0.0,0.0
19,19,20,180000.0,1,0.0,0.0,0.0,0.0,0.0,0.0
20,20,21,130000.0,3,3000.0,1537.0,1000.0,2000.0,930.0,33764.0
21,21,22,120000.0,2,316.0,316.0,0.0,632.0,316.0,0.0
22,22,23,70000.0,2,2007.0,3582.0,0.0,3601.0,0.0,1820.0
23,23,24,450000.0,Null,19428.0,1473.0,560.0,0.0,0.0,1128.0
24,24,25,90000.0,1,5757.0,0.0,5398.0,1200.0,2045.0,2000.0
25,25,26,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0
26,26,27,-,1,0.0,1000.0,0.0,500.0,0.0,1000.0
27,27,28,-,3,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0
28,28,29,50000.0,3,3415.0,3421.0,2044.0,30430.0,257.0,0.0
29,29,30,50000.0,1,1500.0,1500.0,1000.0,1000.0,1600.0,0.0
30,30,31,230000.0,1,17270.0,13281.0,15339.0,14307.0,37292.0,0.0
31,31,32,50000.0,2,1718.0,1500.0,1000.0,1000.0,1000.0,716.0
32,32,33,100000.0,Null,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0
33,33,34,500000.0,2,4152.0,22827.0,7521.0,71439.0,981.0,51582.0
34,34,35,500000.0,1,5006.0,31178.0,3180.0,0.0,5293.0,768.0
35,35,1,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0
36,36,37,280000.0,2,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0
37,37,38,-,2,1500.0,1518.0,2043.0,0.0,47671.0,617.0
38,38,39,50000.0,1,780.0,0.0,0.0,0.0,0.0,0.0
39,39,40,280000.0,1,9075.0,0.0,9976.0,8000.0,9525.0,781.0
40,40,41,360000.0,1,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0
41,41,42,70000.0,Null,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0
42,42,43,10000.0,2,1500.0,2927.0,1000.0,300.0,1000.0,500.0
43,43,44,140000.0,Null,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0
44,44,45,40000.0,1,3000.0,5000.0,0.0,2000.0,3000.0,0.0
45,45,4,-,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0
46,46,47,20000.0,1,3000.0,0.0,16741.0,334.0,0.0,0.0
47,47,48,-,5,1013.0,1170.0,0.0,0.0,0.0,0.0
48,48,49,380000.0,2,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0
49,49,50,20000.0,1,1318.0,1315.0,704.0,928.0,912.0,1069.0
50,50,36,160000.0,1,131.0,396.0,396.0,565.0,792.0,0.0
51,51,46,210000.0,1,0.0,0.0,0.0,0.0,0.0,0.0

In [276]:
df3.dtypes

Unnamed: 0      int64
ID              int64
LIMIT_BAL      object
EDUCATION      object
PAY_AMT1      float64
PAY_AMT2      float64
PAY_AMT3      float64
PAY_AMT4      float64
PAY_AMT5      float64
PAY_AMT6      float64
dtype: object

In [277]:
df4

    Unnamed: 0  ID  SEX  EDUCATION  MARRIAGE   AGE  default.payment.next.month
0            0   1    2        2.0         1  24.0                           1
1            1   2    2        2.0         2  26.0                           1
2            2   3    2        2.0         2  34.0                           0
3            3   4    2        NaN         1  37.0                           0
4            4   5    1        2.0         1  57.0                           0
5            5   6    1        1.0         2  37.0                           0
6            6   7    1        NaN         2  29.0                           0
7            7   8    2        2.0         2  23.0                           0
8            8   9    2        3.0         1  28.0                           0
9            9  10    1        3.0         2  35.0                           0
10          10  11    2        3.0         2   NaN                           0
11          11  12    2        1.0         2  51.0                           0
12          12  13    2        2.0         2  41.0                           0
13          13  14  Nan        2.0         2  30.0                           1
14          14  15    1        1.0         2  29.0                           0
15          15  16    2        3.0         3  23.0                           0
16          16  17    1        1.0         2  24.0                           1
17          17  18    1        1.0         1  49.0                           0
18          18  19  Nan        1.0         1  49.0                           0
19          19  20    2        1.0         2  29.0                           0
20          20  21    2        3.0         2  39.0                           0
21          21  22    2        2.0         1  39.0                           1
22          22  23  Nan        2.0         2  26.0                           1
23          23  24    2        1.0         1  40.0                           1
24          24  25  Nan        1.0         2  23.0                           0
25          25  26    1        3.0         2   NaN                           0
26          26  27    1        NaN         2  27.0                           1
27          27  28    2        NaN         2  30.0                           0
28          28  29    2        3.0         1  47.0                           0
29          29  30    1        1.0         2  26.0                           0
30          30  31    2        1.0         2   NaN                           0
31          31  32    1        2.0         2  33.0                           1
32          32  33    1        1.0         2  32.0                           0
33          33  34    2        2.0         1   NaN                           0
34          34  35    1        1.0         1  58.0                           0
35          35  36    1        1.0         2  30.0                           0
36          36  37  Nan        2.0         1  40.0                           0
37          37  38    2        NaN         2  22.0                           0
38          38  39    1        1.0         2  25.0                           1
39          39  40    1        1.0         2  31.0                           0
40          40  41    1        1.0         2  33.0                           0
41          41  42    2        1.0         2  25.0                           0
42          42  43    1        2.0         2   NaN                           0
43          43  44    2        2.0         1   NaN                           0
44          44  45    2        1.0         2  30.0                           0
45          45  46    1        1.0         2  29.0                           1
46          46  47    2        1.0         2  22.0                           1
47          47  48    2        NaN         2  46.0                           1
48          48  49    1        2.0         2  32.0                           0
49          49  50  Nan        1.0         2  24.0                           0

In [278]:
df4.dtypes

Unnamed: 0                      int64
ID                              int64
SEX                            object
EDUCATION                     float64
MARRIAGE                        int64
AGE                           float64
default.payment.next.month      int64
dtype: object

Revisando las tablas, se puede observar que existe una columna llave (ID), la cual es una dato entero en todas las tablas, para lo cual se puede proceder a unir las tablas

In [279]:
# Uniendo tablas
df = pd.merge(df1,df2, left_on='ID', right_on='ID')
df = pd.merge(df,df3, left_on='ID', right_on='ID')
df4 = df4.drop('Unnamed: 0', axis=1)
df = pd.merge(df,df4, left_on='ID', right_on='ID')
df

,Unnamed: 0_x,ID,LIMIT_BAL_x,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX_y,EDUCATION_y,MARRIAGE,AGE_y,default.payment.next.month
0,0,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
1,0,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
2,0,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
3,0,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
4,15,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
5,15,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
6,15,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
7,15,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
8,1,2,120000.0,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,...,1000.0,1000.0,1000.0,0.0,2000.0,2,2.0,2,26.0,1
9,2,3,90000.0,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,...,1500.0,1000.0,1000.0,1000.0,5000.0,2,2.0,2,34.0,0
10,3,4,50000.0,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,...,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,37.0,0
11,3,4,50000.0,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,...,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,37.0,0
12,4,5,50000.0,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,...,36681.0,10000.0,9000.0,689.0,679.0,1,2.0,1,57.0,0
13,5,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,...,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,37.0,0
14,35,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,...,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,37.0,0
15,6,7,500000.0,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,...,40000.0,38000.0,20239.0,13750.0,13770.0,1,NaN,2,29.0,0
16,7,8,100000.0,female,11876.0,380.0,601.0,221.0,-159.0,567.0,...,601.0,0.0,581.0,1687.0,1542.0,2,2.0,2,23.0,0
17,8,9,140000.0,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,...,0.0,432.0,1000.0,1000.0,1000.0,2,3.0,1,28.0,0
18,9,10,20000.0,male,0.0,0.0,0.0,0.0,13007.0,13912.0,...,0.0,0.0,13007.0,1122.0,0.0,1,3.0,2,35.0,0
19,10,11,200000.0,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,...,12.0,50.0,300.0,3738.0,66.0,2,3.0,2,NaN,0
20,11,12,260000.0,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,...,9966.0,8583.0,22301.0,0.0,3640.0,2,1.0,2,51.0,0
21,12,13,630000.0,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,...,6500.0,6500.0,6500.0,2870.0,0.0,2,2.0,2,41.0,0
22,13,14,-,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,...,0.0,3000.0,3000.0,1500.0,0.0,Nan,2.0,2,30.0,1
23,14,15,250000.0,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,...,3000.0,3000.0,3000.0,3000.0,3000.0,1,1.0,2,29.0,0
24,16,17,20000.0,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,...,0.0,1500.0,0.0,1650.0,0.0,1,1.0,2,24.0,1
25,17,18,320000.0,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,...,10000.0,75940.0,20000.0,195599.0,50000.0,1,1.0,1,49.0,0
26,18,19,-,female,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,Nan,1.0,1,49.0,0
27,19,20,180000.0,female,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2,1.0,2,29.0,0
28,20,21,130000.0,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,...,1537.0,1000.0,2000.0,930.0,33764.0,2,3.0,2,39.0,0
29,21,22,120000.0,NaN,316.0,316.0,316.0,0.0,632.0,316.0,...,316.0,0.0,632.0,316.0,0.0,2,2.0,1,39.0,1
30,22,23,-,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,...,3582.0,0.0,3601.0,0.0,1820.0,Nan,2.0,2,26.0,1
31,23,24,450000.0,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,...,1473.0,560.0,0.0,0.0,1128.0,2,1.0,1,40.0,1
32,24,25,-,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,...,0.0,5398.0,1200.0,2045.0,2000.0,Nan,1.0,2,23.0,0
33,25,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,...,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,NaN,0
34,25,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,...,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,NaN,0
35,26,27,60000.0,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,...,1000.0,0.0,500.0,0.0,1000.0,1,NaN,2,27.0,1
36,27,28,50000.0,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,...,1300.0,1000.0,1500.0,1000.0,1012.0,2,NaN,2,30.0,0
37,28,29,50000.0,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,...,3421.0,2044.0,30430.0,257.0,0.0,2,3.0,1,47.0,0
38,29,30,50000.0,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,...,1500.0,1000.0,1000.0,1600.0,0.0,1,1.0,2,26.0,0
39,30,31,230000.0,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,...,13281.0,15339.0,14307.0,37292.0,0.0,2,1.0,2,NaN,0
40,31,32,50000.0,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,...,1500.0,1000.0,1000.0,1000.0,716.0,1,2.0,2,33.0,1
41,32,33,100000.0,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,...,3511.0,3302.0,3204.0,3200.0,2504.0,1,1.0,2,32.0,0
42,33,34,500000.0,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,...,22827.0,7521.0,71439.0,981.0,51582.0,2,2.0,1,NaN,0
43,34,35,500000.0,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,...,31178.0,3180.0,0.0,5293.0,768.0,1,1.0,1,58.0,0
44,36,37,-,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,...,8060.0,6300.0,6400.0,6400.0,6737.0,Nan,2.0,1,40.0,0
45,37,38,60000.0,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,...,1518.0,2043.0,0.0,47671.0,617.0,2,NaN,2,22.0,0
46,38,39,50000.0,male,0.0,780.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,1.0,2,25.0,1
47,39,40,280000.0,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,...,0.0,9976.0,8000.0,9525.0,781.0,1,1.0,2,31.0,0
48,40,41,360000.0,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,...,7000.0,6000.0,188840.0,28000.0,4000.0,1,1.0,2,33.0,0
49,41,42,70000.0,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,...,4500.0,4042.0,2500.0,2800.0,2500.0,2,1.0,2,25.0,0
50,42,43,10000.0,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,...,2927.0,1000.0,300.0,1000.0,500.0,1,2.0,2,NaN,0
51,43,44,140000.0,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,...,3000.0,3000.0,4000.0,4000.0,3000.0,2,2.0,1,NaN,0
52,44,45,40000.0,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,...,5000.0,0.0,2000.0,3000.0,0.0,2,1.0,2,30.0,0
53,45,46,210000.0,male,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1,1.0,2,29.0,1
54,46,47,20000.0,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,...,0.0,16741.0,334.0,0.0,0.0,2,1.0,2,22.0,1
55,47,48,150000.0,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,...,1170.0,0.0,0.0,0.0,0.0,2,NaN,2,46.0,1
56,48,49,380000.0,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,...,15138.0,24677.0,11851.0,11875.0,8251.0,1,2.0,2,32.0,0
57,49,50,-,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,...,1315.0,704.0,928.0,912.0,1069.0,Nan,1.0,2,24.0,0
58,50,16,50000.0,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,...,1500.0,1100.0,1200.0,1300.0,1100.0,2,3.0,3,23.0,0
59,51,36,160000.0,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,...,396.0,396.0,565.0,792.0,0.0,1,1.0,2,30.0,0

In [280]:
df.dtypes

Unnamed: 0_x                    int64
ID                              int64
LIMIT_BAL_x                    object
SEX_x                          object
BILL_AMT1                     float64
BILL_AMT2                     float64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                     float64
BILL_AMT6                     float64
Unnamed: 0_y                    int64
LIMIT_BAL_y                    object
AGE_x                          object
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
Unnamed: 0                      int64
LIMIT_BAL                      object
EDUCATION_x                    object
PAY_AMT1                      float64
PAY_AMT2                      float64
PAY_AMT3                      float64
PAY_AMT4                      float64
PAY_AMT5                      float64
PAY_AMT6                      float64
SEX_y                          object
EDUCATION_y                   float64
MARRIAGE                        int64
AGE_y                         float64
default.payment.next.month      int64
dtype: object

In [281]:
df = df.drop(labels=["Unnamed: 0_x"], axis=1)
df = df.drop(labels=["Unnamed: 0_y"], axis=1)
df

,ID,LIMIT_BAL_x,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,LIMIT_BAL_y,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX_y,EDUCATION_y,MARRIAGE,AGE_y,default.payment.next.month
0,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
1,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
2,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
3,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
4,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
5,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
6,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
7,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
8,2,120000.0,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,120000.0,...,1000.0,1000.0,1000.0,0.0,2000.0,2,2.0,2,26.0,1
9,3,90000.0,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,90000.0,...,1500.0,1000.0,1000.0,1000.0,5000.0,2,2.0,2,34.0,0
10,4,50000.0,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,50000.0,...,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,37.0,0
11,4,50000.0,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,50000.0,...,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,37.0,0
12,5,50000.0,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,50000.0,...,36681.0,10000.0,9000.0,689.0,679.0,1,2.0,1,57.0,0
13,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,50000.0,...,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,37.0,0
14,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,50000.0,...,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,37.0,0
15,7,500000.0,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,500000.0,...,40000.0,38000.0,20239.0,13750.0,13770.0,1,NaN,2,29.0,0
16,8,100000.0,female,11876.0,380.0,601.0,221.0,-159.0,567.0,100000.0,...,601.0,0.0,581.0,1687.0,1542.0,2,2.0,2,23.0,0
17,9,140000.0,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,140000.0,...,0.0,432.0,1000.0,1000.0,1000.0,2,3.0,1,28.0,0
18,10,20000.0,male,0.0,0.0,0.0,0.0,13007.0,13912.0,20000.0,...,0.0,0.0,13007.0,1122.0,0.0,1,3.0,2,35.0,0
19,11,200000.0,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,-,...,12.0,50.0,300.0,3738.0,66.0,2,3.0,2,NaN,0
20,12,260000.0,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,260000.0,...,9966.0,8583.0,22301.0,0.0,3640.0,2,1.0,2,51.0,0
21,13,630000.0,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,630000.0,...,6500.0,6500.0,6500.0,2870.0,0.0,2,2.0,2,41.0,0
22,14,-,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,70000.0,...,0.0,3000.0,3000.0,1500.0,0.0,Nan,2.0,2,30.0,1
23,15,250000.0,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,250000.0,...,3000.0,3000.0,3000.0,3000.0,3000.0,1,1.0,2,29.0,0
24,17,20000.0,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,20000.0,...,0.0,1500.0,0.0,1650.0,0.0,1,1.0,2,24.0,1
25,18,320000.0,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,320000.0,...,10000.0,75940.0,20000.0,195599.0,50000.0,1,1.0,1,49.0,0
26,19,-,female,0.0,0.0,0.0,0.0,0.0,0.0,360000.0,...,0.0,0.0,0.0,0.0,0.0,Nan,1.0,1,49.0,0
27,20,180000.0,female,0.0,0.0,0.0,0.0,0.0,0.0,180000.0,...,0.0,0.0,0.0,0.0,0.0,2,1.0,2,29.0,0
28,21,130000.0,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,130000.0,...,1537.0,1000.0,2000.0,930.0,33764.0,2,3.0,2,39.0,0
29,22,120000.0,NaN,316.0,316.0,316.0,0.0,632.0,316.0,120000.0,...,316.0,0.0,632.0,316.0,0.0,2,2.0,1,39.0,1
30,23,-,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,70000.0,...,3582.0,0.0,3601.0,0.0,1820.0,Nan,2.0,2,26.0,1
31,24,450000.0,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,450000.0,...,1473.0,560.0,0.0,0.0,1128.0,2,1.0,1,40.0,1
32,25,-,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,90000.0,...,0.0,5398.0,1200.0,2045.0,2000.0,Nan,1.0,2,23.0,0
33,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,-,...,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,NaN,0
34,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,-,...,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,NaN,0
35,27,60000.0,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,60000.0,...,1000.0,0.0,500.0,0.0,1000.0,1,NaN,2,27.0,1
36,28,50000.0,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,50000.0,...,1300.0,1000.0,1500.0,1000.0,1012.0,2,NaN,2,30.0,0
37,29,50000.0,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,50000.0,...,3421.0,2044.0,30430.0,257.0,0.0,2,3.0,1,47.0,0
38,30,50000.0,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,50000.0,...,1500.0,1000.0,1000.0,1600.0,0.0,1,1.0,2,26.0,0
39,31,230000.0,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,-,...,13281.0,15339.0,14307.0,37292.0,0.0,2,1.0,2,NaN,0
40,32,50000.0,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,50000.0,...,1500.0,1000.0,1000.0,1000.0,716.0,1,2.0,2,33.0,1
41,33,100000.0,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,100000.0,...,3511.0,3302.0,3204.0,3200.0,2504.0,1,1.0,2,32.0,0
42,34,500000.0,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,-,...,22827.0,7521.0,71439.0,981.0,51582.0,2,2.0,1,NaN,0
43,35,500000.0,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,500000.0,...,31178.0,3180.0,0.0,5293.0,768.0,1,1.0,1,58.0,0
44,37,-,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,280000.0,...,8060.0,6300.0,6400.0,6400.0,6737.0,Nan,2.0,1,40.0,0
45,38,60000.0,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,60000.0,...,1518.0,2043.0,0.0,47671.0,617.0,2,NaN,2,22.0,0
46,39,50000.0,male,0.0,780.0,0.0,0.0,0.0,0.0,50000.0,...,0.0,0.0,0.0,0.0,0.0,1,1.0,2,25.0,1
47,40,280000.0,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,280000.0,...,0.0,9976.0,8000.0,9525.0,781.0,1,1.0,2,31.0,0
48,41,360000.0,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,360000.0,...,7000.0,6000.0,188840.0,28000.0,4000.0,1,1.0,2,33.0,0
49,42,70000.0,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,70000.0,...,4500.0,4042.0,2500.0,2800.0,2500.0,2,1.0,2,25.0,0
50,43,10000.0,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,-,...,2927.0,1000.0,300.0,1000.0,500.0,1,2.0,2,NaN,0
51,44,140000.0,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,-,...,3000.0,3000.0,4000.0,4000.0,3000.0,2,2.0,1,NaN,0
52,45,40000.0,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,40000.0,...,5000.0,0.0,2000.0,3000.0,0.0,2,1.0,2,30.0,0
53,46,210000.0,male,0.0,0.0,0.0,0.0,0.0,0.0,210000.0,...,0.0,0.0,0.0,0.0,0.0,1,1.0,2,29.0,1
54,47,20000.0,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,20000.0,...,0.0,16741.0,334.0,0.0,0.0,2,1.0,2,22.0,1
55,48,150000.0,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,150000.0,...,1170.0,0.0,0.0,0.0,0.0,2,NaN,2,46.0,1
56,49,380000.0,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,380000.0,...,15138.0,24677.0,11851.0,11875.0,8251.0,1,2.0,2,32.0,0
57,50,-,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,20000.0,...,1315.0,704.0,928.0,912.0,1069.0,Nan,1.0,2,24.0,0
58,16,50000.0,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,50000.0,...,1500.0,1100.0,1200.0,1300.0,1100.0,2,3.0,3,23.0,0
59,36,160000.0,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,160000.0,...,396.0,396.0,565.0,792.0,0.0,1,1.0,2,30.0,0

In [282]:
df.dtypes

ID                              int64
LIMIT_BAL_x                    object
SEX_x                          object
BILL_AMT1                     float64
BILL_AMT2                     float64
BILL_AMT3                     float64
BILL_AMT4                     float64
BILL_AMT5                     float64
BILL_AMT6                     float64
LIMIT_BAL_y                    object
AGE_x                          object
PAY_0                           int64
PAY_2                           int64
PAY_3                           int64
PAY_4                           int64
PAY_5                           int64
PAY_6                           int64
Unnamed: 0                      int64
LIMIT_BAL                      object
EDUCATION_x                    object
PAY_AMT1                      float64
PAY_AMT2                      float64
PAY_AMT3                      float64
PAY_AMT4                      float64
PAY_AMT5                      float64
PAY_AMT6                      float64
SEX_y                          object
EDUCATION_y                   float64
MARRIAGE                        int64
AGE_y                         float64
default.payment.next.month      int64
dtype: object

In [283]:
ynan = np.where(df['LIMIT_BAL_x']==np.nan, df['LIMIT_BAL_y'], df['LIMIT_BAL_x'])
df['LIMIT_BAL'] = np.where(df['LIMIT_BAL_x']==df['LIMIT_BAL_y'], df['LIMIT_BAL_x'], ynan)
df

,ID,LIMIT_BAL_x,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,LIMIT_BAL_y,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX_y,EDUCATION_y,MARRIAGE,AGE_y,default.payment.next.month
0,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
1,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
2,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
3,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
4,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
5,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
6,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
7,1,20000.0,female,3913.0,3102.0,689.0,0.0,0.0,0.0,20000.0,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
8,2,120000.0,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,120000.0,...,1000.0,1000.0,1000.0,0.0,2000.0,2,2.0,2,26.0,1
9,3,90000.0,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,90000.0,...,1500.0,1000.0,1000.0,1000.0,5000.0,2,2.0,2,34.0,0
10,4,50000.0,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,50000.0,...,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,37.0,0
11,4,50000.0,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,50000.0,...,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,37.0,0
12,5,50000.0,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,50000.0,...,36681.0,10000.0,9000.0,689.0,679.0,1,2.0,1,57.0,0
13,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,50000.0,...,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,37.0,0
14,6,50000.0,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,50000.0,...,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,37.0,0
15,7,500000.0,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,500000.0,...,40000.0,38000.0,20239.0,13750.0,13770.0,1,NaN,2,29.0,0
16,8,100000.0,female,11876.0,380.0,601.0,221.0,-159.0,567.0,100000.0,...,601.0,0.0,581.0,1687.0,1542.0,2,2.0,2,23.0,0
17,9,140000.0,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,140000.0,...,0.0,432.0,1000.0,1000.0,1000.0,2,3.0,1,28.0,0
18,10,20000.0,male,0.0,0.0,0.0,0.0,13007.0,13912.0,20000.0,...,0.0,0.0,13007.0,1122.0,0.0,1,3.0,2,35.0,0
19,11,200000.0,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,-,...,12.0,50.0,300.0,3738.0,66.0,2,3.0,2,NaN,0
20,12,260000.0,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,260000.0,...,9966.0,8583.0,22301.0,0.0,3640.0,2,1.0,2,51.0,0
21,13,630000.0,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,630000.0,...,6500.0,6500.0,6500.0,2870.0,0.0,2,2.0,2,41.0,0
22,14,-,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,70000.0,...,0.0,3000.0,3000.0,1500.0,0.0,Nan,2.0,2,30.0,1
23,15,250000.0,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,250000.0,...,3000.0,3000.0,3000.0,3000.0,3000.0,1,1.0,2,29.0,0
24,17,20000.0,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,20000.0,...,0.0,1500.0,0.0,1650.0,0.0,1,1.0,2,24.0,1
25,18,320000.0,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,320000.0,...,10000.0,75940.0,20000.0,195599.0,50000.0,1,1.0,1,49.0,0
26,19,-,female,0.0,0.0,0.0,0.0,0.0,0.0,360000.0,...,0.0,0.0,0.0,0.0,0.0,Nan,1.0,1,49.0,0
27,20,180000.0,female,0.0,0.0,0.0,0.0,0.0,0.0,180000.0,...,0.0,0.0,0.0,0.0,0.0,2,1.0,2,29.0,0
28,21,130000.0,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,130000.0,...,1537.0,1000.0,2000.0,930.0,33764.0,2,3.0,2,39.0,0
29,22,120000.0,NaN,316.0,316.0,316.0,0.0,632.0,316.0,120000.0,...,316.0,0.0,632.0,316.0,0.0,2,2.0,1,39.0,1
30,23,-,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,70000.0,...,3582.0,0.0,3601.0,0.0,1820.0,Nan,2.0,2,26.0,1
31,24,450000.0,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,450000.0,...,1473.0,560.0,0.0,0.0,1128.0,2,1.0,1,40.0,1
32,25,-,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,90000.0,...,0.0,5398.0,1200.0,2045.0,2000.0,Nan,1.0,2,23.0,0
33,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,-,...,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,NaN,0
34,26,50000.0,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,-,...,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,NaN,0
35,27,60000.0,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,60000.0,...,1000.0,0.0,500.0,0.0,1000.0,1,NaN,2,27.0,1
36,28,50000.0,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,50000.0,...,1300.0,1000.0,1500.0,1000.0,1012.0,2,NaN,2,30.0,0
37,29,50000.0,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,50000.0,...,3421.0,2044.0,30430.0,257.0,0.0,2,3.0,1,47.0,0
38,30,50000.0,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,50000.0,...,1500.0,1000.0,1000.0,1600.0,0.0,1,1.0,2,26.0,0
39,31,230000.0,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,-,...,13281.0,15339.0,14307.0,37292.0,0.0,2,1.0,2,NaN,0
40,32,50000.0,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,50000.0,...,1500.0,1000.0,1000.0,1000.0,716.0,1,2.0,2,33.0,1
41,33,100000.0,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,100000.0,...,3511.0,3302.0,3204.0,3200.0,2504.0,1,1.0,2,32.0,0
42,34,500000.0,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,-,...,22827.0,7521.0,71439.0,981.0,51582.0,2,2.0,1,NaN,0
43,35,500000.0,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,500000.0,...,31178.0,3180.0,0.0,5293.0,768.0,1,1.0,1,58.0,0
44,37,-,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,280000.0,...,8060.0,6300.0,6400.0,6400.0,6737.0,Nan,2.0,1,40.0,0
45,38,60000.0,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,60000.0,...,1518.0,2043.0,0.0,47671.0,617.0,2,NaN,2,22.0,0
46,39,50000.0,male,0.0,780.0,0.0,0.0,0.0,0.0,50000.0,...,0.0,0.0,0.0,0.0,0.0,1,1.0,2,25.0,1
47,40,280000.0,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,280000.0,...,0.0,9976.0,8000.0,9525.0,781.0,1,1.0,2,31.0,0
48,41,360000.0,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,360000.0,...,7000.0,6000.0,188840.0,28000.0,4000.0,1,1.0,2,33.0,0
49,42,70000.0,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,70000.0,...,4500.0,4042.0,2500.0,2800.0,2500.0,2,1.0,2,25.0,0
50,43,10000.0,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,-,...,2927.0,1000.0,300.0,1000.0,500.0,1,2.0,2,NaN,0
51,44,140000.0,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,-,...,3000.0,3000.0,4000.0,4000.0,3000.0,2,2.0,1,NaN,0
52,45,40000.0,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,40000.0,...,5000.0,0.0,2000.0,3000.0,0.0,2,1.0,2,30.0,0
53,46,210000.0,male,0.0,0.0,0.0,0.0,0.0,0.0,210000.0,...,0.0,0.0,0.0,0.0,0.0,1,1.0,2,29.0,1
54,47,20000.0,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,20000.0,...,0.0,16741.0,334.0,0.0,0.0,2,1.0,2,22.0,1
55,48,150000.0,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,150000.0,...,1170.0,0.0,0.0,0.0,0.0,2,NaN,2,46.0,1
56,49,380000.0,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,380000.0,...,15138.0,24677.0,11851.0,11875.0,8251.0,1,2.0,2,32.0,0
57,50,-,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,20000.0,...,1315.0,704.0,928.0,912.0,1069.0,Nan,1.0,2,24.0,0
58,16,50000.0,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,50000.0,...,1500.0,1100.0,1200.0,1300.0,1100.0,2,3.0,3,23.0,0
59,36,160000.0,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,160000.0,...,396.0,396.0,565.0,792.0,0.0,1,1.0,2,30.0,0

In [284]:
df.drop(['LIMIT_BAL_x', 'LIMIT_BAL_y'], axis=1, inplace=True)
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX_y,EDUCATION_y,MARRIAGE,AGE_y,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24.0,1
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 years,-1,...,1000.0,1000.0,1000.0,0.0,2000.0,2,2.0,2,26.0,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 years,0,...,1500.0,1000.0,1000.0,1000.0,5000.0,2,2.0,2,34.0,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,37.0,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,37.0,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 years,-1,...,36681.0,10000.0,9000.0,689.0,679.0,1,2.0,1,57.0,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,37.0,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,37.0,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 years,0,...,40000.0,38000.0,20239.0,13750.0,13770.0,1,NaN,2,29.0,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 years,0,...,601.0,0.0,581.0,1687.0,1542.0,2,2.0,2,23.0,0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 years,0,...,0.0,432.0,1000.0,1000.0,1000.0,2,3.0,1,28.0,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 years,-2,...,0.0,0.0,13007.0,1122.0,0.0,1,3.0,2,35.0,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,12.0,50.0,300.0,3738.0,66.0,2,3.0,2,NaN,0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 years,-1,...,9966.0,8583.0,22301.0,0.0,3640.0,2,1.0,2,51.0,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 years,-1,...,6500.0,6500.0,6500.0,2870.0,0.0,2,2.0,2,41.0,0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 years,1,...,0.0,3000.0,3000.0,1500.0,0.0,Nan,2.0,2,30.0,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 years,0,...,3000.0,3000.0,3000.0,3000.0,3000.0,1,1.0,2,29.0,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 years,0,...,0.0,1500.0,0.0,1650.0,0.0,1,1.0,2,24.0,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 years,0,...,10000.0,75940.0,20000.0,195599.0,50000.0,1,1.0,1,49.0,0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 years,1,...,0.0,0.0,0.0,0.0,0.0,Nan,1.0,1,49.0,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 years,1,...,0.0,0.0,0.0,0.0,0.0,2,1.0,2,29.0,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,No info,0,...,1537.0,1000.0,2000.0,930.0,33764.0,2,3.0,2,39.0,0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 years,-1,...,316.0,0.0,632.0,316.0,0.0,2,2.0,1,39.0,1
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 years,2,...,3582.0,0.0,3601.0,0.0,1820.0,Nan,2.0,2,26.0,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 years,-2,...,1473.0,560.0,0.0,0.0,1128.0,2,1.0,1,40.0,1
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 years,0,...,0.0,5398.0,1200.0,2045.0,2000.0,Nan,1.0,2,23.0,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,NaN,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,NaN,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 years,1,...,1000.0,0.0,500.0,0.0,1000.0,1,NaN,2,27.0,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 years,0,...,1300.0,1000.0,1500.0,1000.0,1012.0,2,NaN,2,30.0,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 years,-1,...,3421.0,2044.0,30430.0,257.0,0.0,2,3.0,1,47.0,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 years,0,...,1500.0,1000.0,1000.0,1600.0,0.0,1,1.0,2,26.0,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,13281.0,15339.0,14307.0,37292.0,0.0,2,1.0,2,NaN,0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 years,2,...,1500.0,1000.0,1000.0,1000.0,716.0,1,2.0,2,33.0,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 years,0,...,3511.0,3302.0,3204.0,3200.0,2504.0,1,1.0,2,32.0,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,22827.0,7521.0,71439.0,981.0,51582.0,2,2.0,1,NaN,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 years,-2,...,31178.0,3180.0,0.0,5293.0,768.0,1,1.0,1,58.0,0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 years,0,...,8060.0,6300.0,6400.0,6400.0,6737.0,Nan,2.0,1,40.0,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 years,0,...,1518.0,2043.0,0.0,47671.0,617.0,2,NaN,2,22.0,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 years,1,...,0.0,0.0,0.0,0.0,0.0,1,1.0,2,25.0,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 years,-1,...,0.0,9976.0,8000.0,9525.0,781.0,1,1.0,2,31.0,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,No info,0,...,7000.0,6000.0,188840.0,28000.0,4000.0,1,1.0,2,33.0,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 years,0,...,4500.0,4042.0,2500.0,2800.0,2500.0,2,1.0,2,25.0,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,2927.0,1000.0,300.0,1000.0,500.0,1,2.0,2,NaN,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,3000.0,3000.0,4000.0,4000.0,3000.0,2,2.0,1,NaN,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 years,0,...,5000.0,0.0,2000.0,3000.0,0.0,2,1.0,2,30.0,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,No info,-2,...,0.0,0.0,0.0,0.0,0.0,1,1.0,2,29.0,1
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 years,0,...,0.0,16741.0,334.0,0.0,0.0,2,1.0,2,22.0,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 years,0,...,1170.0,0.0,0.0,0.0,0.0,2,NaN,2,46.0,1
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 years,-1,...,15138.0,24677.0,11851.0,11875.0,8251.0,1,2.0,2,32.0,0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 years,0,...,1315.0,704.0,928.0,912.0,1069.0,Nan,1.0,2,24.0,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,No info,1,...,1500.0,1100.0,1200.0,1300.0,1100.0,2,3.0,3,23.0,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,No info,-1,...,396.0,396.0,565.0,792.0,0.0,1,1.0,2,30.0,0

In [285]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60 entries, 0 to 59
Data columns (total 29 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          60 non-null     int64
 1   SEX_x                       53 non-null     object
 2   BILL_AMT1                   60 non-null     float64
 3   BILL_AMT2                   60 non-null     float64
 4   BILL_AMT3                   60 non-null     float64
 5   BILL_AMT4                   60 non-null     float64
 6   BILL_AMT5                   60 non-null     float64
 7   BILL_AMT6                   60 non-null     float64
 8   AGE_x                       60 non-null     object
 9   PAY_0                       60 non-null     int64
 10  PAY_2                       60 non-null     int64
 11  PAY_3                       60 non-null     int64
 12  PAY_4                       60 non-null     int64
 13  PAY_5                       60 non-null     int64
 14  PAY_6                       60 non-null     int64
 15  Unnamed: 0                  60 non-null     int64
 16  LIMIT_BAL                   60 non-null     object
 17  EDUCATION_x                 60 non-null     object
 18  PAY_AMT1                    60 non-null     float64
 19  PAY_AMT2                    60 non-null     float64
 20  PAY_AMT3                    60 non-null     float64
 21  PAY_AMT4                    60 non-null     float64
 22  PAY_AMT5                    60 non-null     float64
 23  PAY_AMT6                    60 non-null     float64
 24  SEX_y                       60 non-null     object
 25  EDUCATION_y                 53 non-null     float64
 26  MARRIAGE                    60 non-null     int64
 27  AGE_y                       53 non-null     float64
 28  default.payment.next.month  60 non-null     int64
dtypes: float64(14), int64(10), object(5)
memory usage: 13.7+ KB

In [286]:
# Analizando Edad (AGE)
df['AGE_y'] = df['AGE_y'].astype(str).str[:-2]
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX_y,EDUCATION_y,MARRIAGE,AGE_y,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,No info,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 years,-1,...,1000.0,1000.0,1000.0,0.0,2000.0,2,2.0,2,26,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 years,0,...,1500.0,1000.0,1000.0,1000.0,5000.0,2,2.0,2,34,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,37,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 years,0,...,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,37,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 years,-1,...,36681.0,10000.0,9000.0,689.0,679.0,1,2.0,1,57,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,37,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,No info,0,...,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,37,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 years,0,...,40000.0,38000.0,20239.0,13750.0,13770.0,1,NaN,2,29,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 years,0,...,601.0,0.0,581.0,1687.0,1542.0,2,2.0,2,23,0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 years,0,...,0.0,432.0,1000.0,1000.0,1000.0,2,3.0,1,28,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 years,-2,...,0.0,0.0,13007.0,1122.0,0.0,1,3.0,2,35,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,12.0,50.0,300.0,3738.0,66.0,2,3.0,2,n,0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 years,-1,...,9966.0,8583.0,22301.0,0.0,3640.0,2,1.0,2,51,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 years,-1,...,6500.0,6500.0,6500.0,2870.0,0.0,2,2.0,2,41,0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 years,1,...,0.0,3000.0,3000.0,1500.0,0.0,Nan,2.0,2,30,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 years,0,...,3000.0,3000.0,3000.0,3000.0,3000.0,1,1.0,2,29,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 years,0,...,0.0,1500.0,0.0,1650.0,0.0,1,1.0,2,24,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 years,0,...,10000.0,75940.0,20000.0,195599.0,50000.0,1,1.0,1,49,0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 years,1,...,0.0,0.0,0.0,0.0,0.0,Nan,1.0,1,49,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 years,1,...,0.0,0.0,0.0,0.0,0.0,2,1.0,2,29,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,No info,0,...,1537.0,1000.0,2000.0,930.0,33764.0,2,3.0,2,39,0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 years,-1,...,316.0,0.0,632.0,316.0,0.0,2,2.0,1,39,1
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 years,2,...,3582.0,0.0,3601.0,0.0,1820.0,Nan,2.0,2,26,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 years,-2,...,1473.0,560.0,0.0,0.0,1128.0,2,1.0,1,40,1
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 years,0,...,0.0,5398.0,1200.0,2045.0,2000.0,Nan,1.0,2,23,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,n,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,n,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 years,1,...,1000.0,0.0,500.0,0.0,1000.0,1,NaN,2,27,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 years,0,...,1300.0,1000.0,1500.0,1000.0,1012.0,2,NaN,2,30,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 years,-1,...,3421.0,2044.0,30430.0,257.0,0.0,2,3.0,1,47,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 years,0,...,1500.0,1000.0,1000.0,1600.0,0.0,1,1.0,2,26,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,13281.0,15339.0,14307.0,37292.0,0.0,2,1.0,2,n,0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 years,2,...,1500.0,1000.0,1000.0,1000.0,716.0,1,2.0,2,33,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 years,0,...,3511.0,3302.0,3204.0,3200.0,2504.0,1,1.0,2,32,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,22827.0,7521.0,71439.0,981.0,51582.0,2,2.0,1,n,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 years,-2,...,31178.0,3180.0,0.0,5293.0,768.0,1,1.0,1,58,0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 years,0,...,8060.0,6300.0,6400.0,6400.0,6737.0,Nan,2.0,1,40,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 years,0,...,1518.0,2043.0,0.0,47671.0,617.0,2,NaN,2,22,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 years,1,...,0.0,0.0,0.0,0.0,0.0,1,1.0,2,25,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 years,-1,...,0.0,9976.0,8000.0,9525.0,781.0,1,1.0,2,31,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,No info,0,...,7000.0,6000.0,188840.0,28000.0,4000.0,1,1.0,2,33,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 years,0,...,4500.0,4042.0,2500.0,2800.0,2500.0,2,1.0,2,25,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,2927.0,1000.0,300.0,1000.0,500.0,1,2.0,2,n,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,3000.0,3000.0,4000.0,4000.0,3000.0,2,2.0,1,n,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 years,0,...,5000.0,0.0,2000.0,3000.0,0.0,2,1.0,2,30,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,No info,-2,...,0.0,0.0,0.0,0.0,0.0,1,1.0,2,29,1
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 years,0,...,0.0,16741.0,334.0,0.0,0.0,2,1.0,2,22,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 years,0,...,1170.0,0.0,0.0,0.0,0.0,2,NaN,2,46,1
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 years,-1,...,15138.0,24677.0,11851.0,11875.0,8251.0,1,2.0,2,32,0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 years,0,...,1315.0,704.0,928.0,912.0,1069.0,Nan,1.0,2,24,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,No info,1,...,1500.0,1100.0,1200.0,1300.0,1100.0,2,3.0,3,23,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,No info,-1,...,396.0,396.0,565.0,792.0,0.0,1,1.0,2,30,0

In [287]:
y_nan_ = np.where(df['AGE_y']=='n', df['AGE_x'], df['AGE_y']+' aos')
df['AGE_x'] = np.where(df['AGE_y']+' aos'==df['AGE_x'], df['AGE_x'], y_nan_)
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX_y,EDUCATION_y,MARRIAGE,AGE_y,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,689.0,0.0,0.0,0.0,0.0,2,2.0,1,24,1
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 aos,-1,...,1000.0,1000.0,1000.0,0.0,2000.0,2,2.0,2,26,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 aos,0,...,1500.0,1000.0,1000.0,1000.0,5000.0,2,2.0,2,34,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,37,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,37,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 aos,-1,...,36681.0,10000.0,9000.0,689.0,679.0,1,2.0,1,57,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,37,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,37,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 aos,0,...,40000.0,38000.0,20239.0,13750.0,13770.0,1,NaN,2,29,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 aos,0,...,601.0,0.0,581.0,1687.0,1542.0,2,2.0,2,23,0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 aos,0,...,0.0,432.0,1000.0,1000.0,1000.0,2,3.0,1,28,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 aos,-2,...,0.0,0.0,13007.0,1122.0,0.0,1,3.0,2,35,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,12.0,50.0,300.0,3738.0,66.0,2,3.0,2,n,0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 aos,-1,...,9966.0,8583.0,22301.0,0.0,3640.0,2,1.0,2,51,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 aos,-1,...,6500.0,6500.0,6500.0,2870.0,0.0,2,2.0,2,41,0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 aos,1,...,0.0,3000.0,3000.0,1500.0,0.0,Nan,2.0,2,30,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 aos,0,...,3000.0,3000.0,3000.0,3000.0,3000.0,1,1.0,2,29,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 aos,0,...,0.0,1500.0,0.0,1650.0,0.0,1,1.0,2,24,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 aos,0,...,10000.0,75940.0,20000.0,195599.0,50000.0,1,1.0,1,49,0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 aos,1,...,0.0,0.0,0.0,0.0,0.0,Nan,1.0,1,49,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,1,...,0.0,0.0,0.0,0.0,0.0,2,1.0,2,29,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,39 aos,0,...,1537.0,1000.0,2000.0,930.0,33764.0,2,3.0,2,39,0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 aos,-1,...,316.0,0.0,632.0,316.0,0.0,2,2.0,1,39,1
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 aos,2,...,3582.0,0.0,3601.0,0.0,1820.0,Nan,2.0,2,26,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 aos,-2,...,1473.0,560.0,0.0,0.0,1128.0,2,1.0,1,40,1
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 aos,0,...,0.0,5398.0,1200.0,2045.0,2000.0,Nan,1.0,2,23,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,n,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,n,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 aos,1,...,1000.0,0.0,500.0,0.0,1000.0,1,NaN,2,27,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 aos,0,...,1300.0,1000.0,1500.0,1000.0,1012.0,2,NaN,2,30,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 aos,-1,...,3421.0,2044.0,30430.0,257.0,0.0,2,3.0,1,47,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 aos,0,...,1500.0,1000.0,1000.0,1600.0,0.0,1,1.0,2,26,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,13281.0,15339.0,14307.0,37292.0,0.0,2,1.0,2,n,0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 aos,2,...,1500.0,1000.0,1000.0,1000.0,716.0,1,2.0,2,33,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 aos,0,...,3511.0,3302.0,3204.0,3200.0,2504.0,1,1.0,2,32,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,22827.0,7521.0,71439.0,981.0,51582.0,2,2.0,1,n,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 aos,-2,...,31178.0,3180.0,0.0,5293.0,768.0,1,1.0,1,58,0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 aos,0,...,8060.0,6300.0,6400.0,6400.0,6737.0,Nan,2.0,1,40,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 aos,0,...,1518.0,2043.0,0.0,47671.0,617.0,2,NaN,2,22,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 aos,1,...,0.0,0.0,0.0,0.0,0.0,1,1.0,2,25,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 aos,-1,...,0.0,9976.0,8000.0,9525.0,781.0,1,1.0,2,31,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,33 aos,0,...,7000.0,6000.0,188840.0,28000.0,4000.0,1,1.0,2,33,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 aos,0,...,4500.0,4042.0,2500.0,2800.0,2500.0,2,1.0,2,25,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,2927.0,1000.0,300.0,1000.0,500.0,1,2.0,2,n,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,3000.0,3000.0,4000.0,4000.0,3000.0,2,2.0,1,n,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 aos,0,...,5000.0,0.0,2000.0,3000.0,0.0,2,1.0,2,30,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,-2,...,0.0,0.0,0.0,0.0,0.0,1,1.0,2,29,1
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 aos,0,...,0.0,16741.0,334.0,0.0,0.0,2,1.0,2,22,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 aos,0,...,1170.0,0.0,0.0,0.0,0.0,2,NaN,2,46,1
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 aos,-1,...,15138.0,24677.0,11851.0,11875.0,8251.0,1,2.0,2,32,0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 aos,0,...,1315.0,704.0,928.0,912.0,1069.0,Nan,1.0,2,24,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,23 aos,1,...,1500.0,1100.0,1200.0,1300.0,1100.0,2,3.0,3,23,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,30 aos,-1,...,396.0,396.0,565.0,792.0,0.0,1,1.0,2,30,0

In [288]:
df = df.drop(labels=["AGE_y"], axis=1)
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX_y,EDUCATION_y,MARRIAGE,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2.0,1,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2.0,1,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2.0,1,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2.0,1,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2.0,1,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2.0,1,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2.0,1,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2.0,1,1
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 aos,-1,...,0.0,1000.0,1000.0,1000.0,0.0,2000.0,2,2.0,2,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 aos,0,...,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,2,2.0,2,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,2,NaN,1,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 aos,-1,...,2000.0,36681.0,10000.0,9000.0,689.0,679.0,1,2.0,1,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,2500.0,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,2500.0,1815.0,657.0,1000.0,1000.0,800.0,1,1.0,2,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 aos,0,...,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,1,NaN,2,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 aos,0,...,380.0,601.0,0.0,581.0,1687.0,1542.0,2,2.0,2,0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 aos,0,...,3329.0,0.0,432.0,1000.0,1000.0,1000.0,2,3.0,1,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 aos,-2,...,0.0,0.0,0.0,13007.0,1122.0,0.0,1,3.0,2,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,2306.0,12.0,50.0,300.0,3738.0,66.0,2,3.0,2,0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 aos,-1,...,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,2,1.0,2,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 aos,-1,...,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,2,2.0,2,0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 aos,1,...,3200.0,0.0,3000.0,3000.0,1500.0,0.0,Nan,2.0,2,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 aos,0,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,1,1.0,2,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 aos,0,...,3200.0,0.0,1500.0,0.0,1650.0,0.0,1,1.0,2,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 aos,0,...,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,1,1.0,1,0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 aos,1,...,0.0,0.0,0.0,0.0,0.0,0.0,Nan,1.0,1,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,1,...,0.0,0.0,0.0,0.0,0.0,0.0,2,1.0,2,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,39 aos,0,...,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,2,3.0,2,0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 aos,-1,...,316.0,316.0,0.0,632.0,316.0,0.0,2,2.0,1,1
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 aos,2,...,2007.0,3582.0,0.0,3601.0,0.0,1820.0,Nan,2.0,2,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 aos,-2,...,19428.0,1473.0,560.0,0.0,0.0,1128.0,2,1.0,1,1
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 aos,0,...,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,Nan,1.0,2,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,1,3.0,2,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 aos,1,...,0.0,1000.0,0.0,500.0,0.0,1000.0,1,NaN,2,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 aos,0,...,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,2,NaN,2,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 aos,-1,...,3415.0,3421.0,2044.0,30430.0,257.0,0.0,2,3.0,1,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 aos,0,...,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,1,1.0,2,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,2,1.0,2,0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 aos,2,...,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,1,2.0,2,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 aos,0,...,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0,1,1.0,2,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,2,2.0,1,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 aos,-2,...,5006.0,31178.0,3180.0,0.0,5293.0,768.0,1,1.0,1,0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 aos,0,...,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0,Nan,2.0,1,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 aos,0,...,1500.0,1518.0,2043.0,0.0,47671.0,617.0,2,NaN,2,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 aos,1,...,780.0,0.0,0.0,0.0,0.0,0.0,1,1.0,2,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 aos,-1,...,9075.0,0.0,9976.0,8000.0,9525.0,781.0,1,1.0,2,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,33 aos,0,...,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,1,1.0,2,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 aos,0,...,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0,2,1.0,2,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,1500.0,2927.0,1000.0,300.0,1000.0,500.0,1,2.0,2,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,2,2.0,1,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 aos,0,...,3000.0,5000.0,0.0,2000.0,3000.0,0.0,2,1.0,2,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1.0,2,1
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 aos,0,...,3000.0,0.0,16741.0,334.0,0.0,0.0,2,1.0,2,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 aos,0,...,1013.0,1170.0,0.0,0.0,0.0,0.0,2,NaN,2,1
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 aos,-1,...,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0,1,2.0,2,0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 aos,0,...,1318.0,1315.0,704.0,928.0,912.0,1069.0,Nan,1.0,2,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,23 aos,1,...,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,2,3.0,3,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,30 aos,-1,...,131.0,396.0,396.0,565.0,792.0,0.0,1,1.0,2,0

In [289]:
# Analizando Educacion (EDUCATION)
df['EDUCATION_y'] = df['EDUCATION_y'].astype(str).str[:-2]
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX_y,EDUCATION_y,MARRIAGE,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 aos,-1,...,0.0,1000.0,1000.0,1000.0,0.0,2000.0,2,2,2,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 aos,0,...,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,2,2,2,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,2,n,1,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,2,n,1,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 aos,-1,...,2000.0,36681.0,10000.0,9000.0,689.0,679.0,1,2,1,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,2500.0,1815.0,657.0,1000.0,1000.0,800.0,1,1,2,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,2500.0,1815.0,657.0,1000.0,1000.0,800.0,1,1,2,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 aos,0,...,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,1,n,2,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 aos,0,...,380.0,601.0,0.0,581.0,1687.0,1542.0,2,2,2,0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 aos,0,...,3329.0,0.0,432.0,1000.0,1000.0,1000.0,2,3,1,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 aos,-2,...,0.0,0.0,0.0,13007.0,1122.0,0.0,1,3,2,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,2306.0,12.0,50.0,300.0,3738.0,66.0,2,3,2,0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 aos,-1,...,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,2,1,2,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 aos,-1,...,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,2,2,2,0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 aos,1,...,3200.0,0.0,3000.0,3000.0,1500.0,0.0,Nan,2,2,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 aos,0,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,1,1,2,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 aos,0,...,3200.0,0.0,1500.0,0.0,1650.0,0.0,1,1,2,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 aos,0,...,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,1,1,1,0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 aos,1,...,0.0,0.0,0.0,0.0,0.0,0.0,Nan,1,1,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,1,...,0.0,0.0,0.0,0.0,0.0,0.0,2,1,2,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,39 aos,0,...,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,2,3,2,0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 aos,-1,...,316.0,316.0,0.0,632.0,316.0,0.0,2,2,1,1
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 aos,2,...,2007.0,3582.0,0.0,3601.0,0.0,1820.0,Nan,2,2,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 aos,-2,...,19428.0,1473.0,560.0,0.0,0.0,1128.0,2,1,1,1
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 aos,0,...,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,Nan,1,2,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,1,3,2,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,1,3,2,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 aos,1,...,0.0,1000.0,0.0,500.0,0.0,1000.0,1,n,2,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 aos,0,...,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,2,n,2,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 aos,-1,...,3415.0,3421.0,2044.0,30430.0,257.0,0.0,2,3,1,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 aos,0,...,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,1,1,2,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,2,1,2,0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 aos,2,...,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,1,2,2,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 aos,0,...,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0,1,1,2,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,2,2,1,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 aos,-2,...,5006.0,31178.0,3180.0,0.0,5293.0,768.0,1,1,1,0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 aos,0,...,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0,Nan,2,1,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 aos,0,...,1500.0,1518.0,2043.0,0.0,47671.0,617.0,2,n,2,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 aos,1,...,780.0,0.0,0.0,0.0,0.0,0.0,1,1,2,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 aos,-1,...,9075.0,0.0,9976.0,8000.0,9525.0,781.0,1,1,2,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,33 aos,0,...,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,1,1,2,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 aos,0,...,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0,2,1,2,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,1500.0,2927.0,1000.0,300.0,1000.0,500.0,1,2,2,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,2,2,1,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 aos,0,...,3000.0,5000.0,0.0,2000.0,3000.0,0.0,2,1,2,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,2,1
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 aos,0,...,3000.0,0.0,16741.0,334.0,0.0,0.0,2,1,2,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 aos,0,...,1013.0,1170.0,0.0,0.0,0.0,0.0,2,n,2,1
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 aos,-1,...,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0,1,2,2,0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 aos,0,...,1318.0,1315.0,704.0,928.0,912.0,1069.0,Nan,1,2,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,23 aos,1,...,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,2,3,3,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,30 aos,-1,...,131.0,396.0,396.0,565.0,792.0,0.0,1,1,2,0

In [290]:
z_nan_ = np.where(df['EDUCATION_y']=='n', df['EDUCATION_x'], df['EDUCATION_y'])
df['EDUCATION_x'] = np.where(df['EDUCATION_y']==df['EDUCATION_x'], df['EDUCATION_x'], z_nan_)
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX_y,EDUCATION_y,MARRIAGE,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,0.0,689.0,0.0,0.0,0.0,0.0,2,2,1,1
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 aos,-1,...,0.0,1000.0,1000.0,1000.0,0.0,2000.0,2,2,2,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 aos,0,...,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,2,2,2,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,2,n,1,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,2,n,1,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 aos,-1,...,2000.0,36681.0,10000.0,9000.0,689.0,679.0,1,2,1,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,2500.0,1815.0,657.0,1000.0,1000.0,800.0,1,1,2,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,2500.0,1815.0,657.0,1000.0,1000.0,800.0,1,1,2,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 aos,0,...,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,1,n,2,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 aos,0,...,380.0,601.0,0.0,581.0,1687.0,1542.0,2,2,2,0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 aos,0,...,3329.0,0.0,432.0,1000.0,1000.0,1000.0,2,3,1,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 aos,-2,...,0.0,0.0,0.0,13007.0,1122.0,0.0,1,3,2,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,2306.0,12.0,50.0,300.0,3738.0,66.0,2,3,2,0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 aos,-1,...,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,2,1,2,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 aos,-1,...,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,2,2,2,0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 aos,1,...,3200.0,0.0,3000.0,3000.0,1500.0,0.0,Nan,2,2,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 aos,0,...,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,1,1,2,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 aos,0,...,3200.0,0.0,1500.0,0.0,1650.0,0.0,1,1,2,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 aos,0,...,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,1,1,1,0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 aos,1,...,0.0,0.0,0.0,0.0,0.0,0.0,Nan,1,1,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,1,...,0.0,0.0,0.0,0.0,0.0,0.0,2,1,2,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,39 aos,0,...,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,2,3,2,0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 aos,-1,...,316.0,316.0,0.0,632.0,316.0,0.0,2,2,1,1
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 aos,2,...,2007.0,3582.0,0.0,3601.0,0.0,1820.0,Nan,2,2,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 aos,-2,...,19428.0,1473.0,560.0,0.0,0.0,1128.0,2,1,1,1
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 aos,0,...,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,Nan,1,2,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,1,3,2,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,1,3,2,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 aos,1,...,0.0,1000.0,0.0,500.0,0.0,1000.0,1,n,2,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 aos,0,...,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,2,n,2,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 aos,-1,...,3415.0,3421.0,2044.0,30430.0,257.0,0.0,2,3,1,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 aos,0,...,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,1,1,2,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,2,1,2,0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 aos,2,...,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,1,2,2,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 aos,0,...,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0,1,1,2,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,2,2,1,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 aos,-2,...,5006.0,31178.0,3180.0,0.0,5293.0,768.0,1,1,1,0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 aos,0,...,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0,Nan,2,1,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 aos,0,...,1500.0,1518.0,2043.0,0.0,47671.0,617.0,2,n,2,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 aos,1,...,780.0,0.0,0.0,0.0,0.0,0.0,1,1,2,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 aos,-1,...,9075.0,0.0,9976.0,8000.0,9525.0,781.0,1,1,2,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,33 aos,0,...,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,1,1,2,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 aos,0,...,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0,2,1,2,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,1500.0,2927.0,1000.0,300.0,1000.0,500.0,1,2,2,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,2,2,1,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 aos,0,...,3000.0,5000.0,0.0,2000.0,3000.0,0.0,2,1,2,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,1,1,2,1
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 aos,0,...,3000.0,0.0,16741.0,334.0,0.0,0.0,2,1,2,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 aos,0,...,1013.0,1170.0,0.0,0.0,0.0,0.0,2,n,2,1
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 aos,-1,...,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0,1,2,2,0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 aos,0,...,1318.0,1315.0,704.0,928.0,912.0,1069.0,Nan,1,2,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,23 aos,1,...,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,2,3,3,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,30 aos,-1,...,131.0,396.0,396.0,565.0,792.0,0.0,1,1,2,0

In [291]:
df = df.drop(labels=["EDUCATION_y"], axis=1)
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,EDUCATION_x,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX_y,MARRIAGE,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 aos,-1,...,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0,2,2,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 aos,0,...,2,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,2,2,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,2,1,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,2,1,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 aos,-1,...,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0,1,1,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,1,2,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,1,2,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 aos,0,...,1,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,1,2,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 aos,0,...,2,380.0,601.0,0.0,581.0,1687.0,1542.0,2,2,0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 aos,0,...,3,3329.0,0.0,432.0,1000.0,1000.0,1000.0,2,1,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 aos,-2,...,3,0.0,0.0,0.0,13007.0,1122.0,0.0,1,2,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,3,2306.0,12.0,50.0,300.0,3738.0,66.0,2,2,0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 aos,-1,...,1,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,2,2,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 aos,-1,...,2,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,2,2,0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 aos,1,...,2,3200.0,0.0,3000.0,3000.0,1500.0,0.0,Nan,2,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 aos,0,...,1,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,1,2,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 aos,0,...,1,3200.0,0.0,1500.0,0.0,1650.0,0.0,1,2,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 aos,0,...,1,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,1,1,0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 aos,1,...,1,0.0,0.0,0.0,0.0,0.0,0.0,Nan,1,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,1,...,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,39 aos,0,...,3,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,2,2,0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 aos,-1,...,2,316.0,316.0,0.0,632.0,316.0,0.0,2,1,1
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 aos,2,...,2,2007.0,3582.0,0.0,3601.0,0.0,1820.0,Nan,2,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 aos,-2,...,1,19428.0,1473.0,560.0,0.0,0.0,1128.0,2,1,1
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 aos,0,...,1,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,Nan,2,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,1,2,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,1,2,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 aos,1,...,1,0.0,1000.0,0.0,500.0,0.0,1000.0,1,2,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 aos,0,...,3,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,2,2,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 aos,-1,...,3,3415.0,3421.0,2044.0,30430.0,257.0,0.0,2,1,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 aos,0,...,1,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,1,2,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,1,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,2,2,0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 aos,2,...,2,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,1,2,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 aos,0,...,1,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0,1,2,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,2,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,2,1,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 aos,-2,...,1,5006.0,31178.0,3180.0,0.0,5293.0,768.0,1,1,0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 aos,0,...,2,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0,Nan,1,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 aos,0,...,2,1500.0,1518.0,2043.0,0.0,47671.0,617.0,2,2,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 aos,1,...,1,780.0,0.0,0.0,0.0,0.0,0.0,1,2,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 aos,-1,...,1,9075.0,0.0,9976.0,8000.0,9525.0,781.0,1,2,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,33 aos,0,...,1,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,1,2,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 aos,0,...,1,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0,2,2,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,2,1500.0,2927.0,1000.0,300.0,1000.0,500.0,1,2,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,2,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,2,1,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 aos,0,...,1,3000.0,5000.0,0.0,2000.0,3000.0,0.0,2,2,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,-2,...,1,0.0,0.0,0.0,0.0,0.0,0.0,1,2,1
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 aos,0,...,1,3000.0,0.0,16741.0,334.0,0.0,0.0,2,2,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 aos,0,...,5,1013.0,1170.0,0.0,0.0,0.0,0.0,2,2,1
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 aos,-1,...,2,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0,1,2,0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 aos,0,...,1,1318.0,1315.0,704.0,928.0,912.0,1069.0,Nan,2,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,23 aos,1,...,3,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,2,3,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,30 aos,-1,...,1,131.0,396.0,396.0,565.0,792.0,0.0,1,2,0

In [293]:
# Analizando SEXO
df['SEX_y'] = df['SEX_y'].replace(1,'male')
df['SEX_y'] = df['SEX_y'].replace(2,'female')
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,EDUCATION_x,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX_y,MARRIAGE,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
8,2,NaN,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 aos,-1,...,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0,2,2,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 aos,0,...,2,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,2,2,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,2,1,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,2,1,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 aos,-1,...,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0,1,1,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,1,2,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,1,2,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 aos,0,...,1,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,1,2,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 aos,0,...,2,380.0,601.0,0.0,581.0,1687.0,1542.0,2,2,0
17,9,NaN,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 aos,0,...,3,3329.0,0.0,432.0,1000.0,1000.0,1000.0,2,1,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 aos,-2,...,3,0.0,0.0,0.0,13007.0,1122.0,0.0,1,2,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,3,2306.0,12.0,50.0,300.0,3738.0,66.0,2,2,0
20,12,NaN,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 aos,-1,...,1,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,2,2,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 aos,-1,...,2,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,2,2,0
22,14,male,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 aos,1,...,2,3200.0,0.0,3000.0,3000.0,1500.0,0.0,Nan,2,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 aos,0,...,1,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,1,2,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 aos,0,...,1,3200.0,0.0,1500.0,0.0,1650.0,0.0,1,2,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 aos,0,...,1,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,1,1,0
26,19,female,0.0,0.0,0.0,0.0,0.0,0.0,49 aos,1,...,1,0.0,0.0,0.0,0.0,0.0,0.0,Nan,1,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,1,...,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,39 aos,0,...,3,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,2,2,0
29,22,NaN,316.0,316.0,316.0,0.0,632.0,316.0,39 aos,-1,...,2,316.0,316.0,0.0,632.0,316.0,0.0,2,1,1
30,23,female,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 aos,2,...,2,2007.0,3582.0,0.0,3601.0,0.0,1820.0,Nan,2,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 aos,-2,...,1,19428.0,1473.0,560.0,0.0,0.0,1128.0,2,1,1
32,25,male,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 aos,0,...,1,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,Nan,2,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,1,2,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,1,2,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 aos,1,...,1,0.0,1000.0,0.0,500.0,0.0,1000.0,1,2,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 aos,0,...,3,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,2,2,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 aos,-1,...,3,3415.0,3421.0,2044.0,30430.0,257.0,0.0,2,1,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 aos,0,...,1,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,1,2,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,1,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,2,2,0
40,32,NaN,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 aos,2,...,2,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,1,2,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 aos,0,...,1,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0,1,2,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,2,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,2,1,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 aos,-2,...,1,5006.0,31178.0,3180.0,0.0,5293.0,768.0,1,1,0
44,37,male,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 aos,0,...,2,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0,Nan,1,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 aos,0,...,2,1500.0,1518.0,2043.0,0.0,47671.0,617.0,2,2,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 aos,1,...,1,780.0,0.0,0.0,0.0,0.0,0.0,1,2,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 aos,-1,...,1,9075.0,0.0,9976.0,8000.0,9525.0,781.0,1,2,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,33 aos,0,...,1,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,1,2,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 aos,0,...,1,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0,2,2,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,2,1500.0,2927.0,1000.0,300.0,1000.0,500.0,1,2,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,2,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,2,1,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 aos,0,...,1,3000.0,5000.0,0.0,2000.0,3000.0,0.0,2,2,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,-2,...,1,0.0,0.0,0.0,0.0,0.0,0.0,1,2,1
54,47,NaN,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 aos,0,...,1,3000.0,0.0,16741.0,334.0,0.0,0.0,2,2,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 aos,0,...,5,1013.0,1170.0,0.0,0.0,0.0,0.0,2,2,1
56,49,NaN,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 aos,-1,...,2,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0,1,2,0
57,50,male,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 aos,0,...,1,1318.0,1315.0,704.0,928.0,912.0,1069.0,Nan,2,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,23 aos,1,...,3,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,2,3,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,30 aos,-1,...,1,131.0,396.0,396.0,565.0,792.0,0.0,1,2,0

In [294]:
x_nan_ = np.where(df['SEX_y']=='n', df['SEX_x'], df['SEX_y'])
df['SEX_x'] = np.where(df['SEX_y']==df['SEX_x'], df['SEX_x'], x_nan_)
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,EDUCATION_x,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,SEX_y,MARRIAGE,default.payment.next.month
0,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
1,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
2,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
3,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
4,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
5,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
6,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
7,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,2,0.0,689.0,0.0,0.0,0.0,0.0,2,1,1
8,2,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 aos,-1,...,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0,2,2,1
9,3,2,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 aos,0,...,2,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,2,2,0
10,4,2,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,2,1,0
11,4,2,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,2,1,0
12,5,1,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 aos,-1,...,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0,1,1,0
13,6,1,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,1,2,0
14,6,1,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,1,2,0
15,7,1,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 aos,0,...,1,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,1,2,0
16,8,2,11876.0,380.0,601.0,221.0,-159.0,567.0,23 aos,0,...,2,380.0,601.0,0.0,581.0,1687.0,1542.0,2,2,0
17,9,2,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 aos,0,...,3,3329.0,0.0,432.0,1000.0,1000.0,1000.0,2,1,0
18,10,1,0.0,0.0,0.0,0.0,13007.0,13912.0,35 aos,-2,...,3,0.0,0.0,0.0,13007.0,1122.0,0.0,1,2,0
19,11,2,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,3,2306.0,12.0,50.0,300.0,3738.0,66.0,2,2,0
20,12,2,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 aos,-1,...,1,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,2,2,0
21,13,2,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 aos,-1,...,2,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,2,2,0
22,14,Nan,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 aos,1,...,2,3200.0,0.0,3000.0,3000.0,1500.0,0.0,Nan,2,1
23,15,1,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 aos,0,...,1,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,1,2,0
24,17,1,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 aos,0,...,1,3200.0,0.0,1500.0,0.0,1650.0,0.0,1,2,1
25,18,1,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 aos,0,...,1,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,1,1,0
26,19,Nan,0.0,0.0,0.0,0.0,0.0,0.0,49 aos,1,...,1,0.0,0.0,0.0,0.0,0.0,0.0,Nan,1,0
27,20,2,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,1,...,1,0.0,0.0,0.0,0.0,0.0,0.0,2,2,0
28,21,2,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,39 aos,0,...,3,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,2,2,0
29,22,2,316.0,316.0,316.0,0.0,632.0,316.0,39 aos,-1,...,2,316.0,316.0,0.0,632.0,316.0,0.0,2,1,1
30,23,Nan,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 aos,2,...,2,2007.0,3582.0,0.0,3601.0,0.0,1820.0,Nan,2,1
31,24,2,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 aos,-2,...,1,19428.0,1473.0,560.0,0.0,0.0,1128.0,2,1,1
32,25,Nan,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 aos,0,...,1,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,Nan,2,0
33,26,1,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,1,2,0
34,26,1,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,1,2,0
35,27,1,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 aos,1,...,1,0.0,1000.0,0.0,500.0,0.0,1000.0,1,2,1
36,28,2,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 aos,0,...,3,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,2,2,0
37,29,2,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 aos,-1,...,3,3415.0,3421.0,2044.0,30430.0,257.0,0.0,2,1,0
38,30,1,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 aos,0,...,1,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,1,2,0
39,31,2,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,1,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,2,2,0
40,32,1,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 aos,2,...,2,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,1,2,1
41,33,1,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 aos,0,...,1,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0,1,2,0
42,34,2,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,2,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,2,1,0
43,35,1,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 aos,-2,...,1,5006.0,31178.0,3180.0,0.0,5293.0,768.0,1,1,0
44,37,Nan,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 aos,0,...,2,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0,Nan,1,0
45,38,2,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 aos,0,...,2,1500.0,1518.0,2043.0,0.0,47671.0,617.0,2,2,0
46,39,1,0.0,780.0,0.0,0.0,0.0,0.0,25 aos,1,...,1,780.0,0.0,0.0,0.0,0.0,0.0,1,2,1
47,40,1,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 aos,-1,...,1,9075.0,0.0,9976.0,8000.0,9525.0,781.0,1,2,0
48,41,1,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,33 aos,0,...,1,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,1,2,0
49,42,2,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 aos,0,...,1,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0,2,2,0
50,43,1,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,2,1500.0,2927.0,1000.0,300.0,1000.0,500.0,1,2,0
51,44,2,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,2,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,2,1,0
52,45,2,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 aos,0,...,1,3000.0,5000.0,0.0,2000.0,3000.0,0.0,2,2,0
53,46,1,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,-2,...,1,0.0,0.0,0.0,0.0,0.0,0.0,1,2,1
54,47,2,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 aos,0,...,1,3000.0,0.0,16741.0,334.0,0.0,0.0,2,2,1
55,48,2,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 aos,0,...,5,1013.0,1170.0,0.0,0.0,0.0,0.0,2,2,1
56,49,1,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 aos,-1,...,2,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0,1,2,0
57,50,Nan,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 aos,0,...,1,1318.0,1315.0,704.0,928.0,912.0,1069.0,Nan,2,0
58,16,2,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,23 aos,1,...,3,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,2,3,0
59,36,1,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,30 aos,-1,...,1,131.0,396.0,396.0,565.0,792.0,0.0,1,2,0

In [295]:
df = df.drop(labels=["SEX_y"], axis=1)
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,LIMIT_BAL,EDUCATION_x,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,MARRIAGE,default.payment.next.month
0,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
1,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
2,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
3,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
4,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
5,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
6,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
7,1,2,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
8,2,2,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 aos,-1,...,120000.0,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0,2,1
9,3,2,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 aos,0,...,90000.0,2,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,2,0
10,4,2,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,50000.0,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,1,0
11,4,2,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,50000.0,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,1,0
12,5,1,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 aos,-1,...,50000.0,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0,1,0
13,6,1,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,2,0
14,6,1,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,2,0
15,7,1,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 aos,0,...,500000.0,1,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,2,0
16,8,2,11876.0,380.0,601.0,221.0,-159.0,567.0,23 aos,0,...,100000.0,2,380.0,601.0,0.0,581.0,1687.0,1542.0,2,0
17,9,2,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 aos,0,...,140000.0,3,3329.0,0.0,432.0,1000.0,1000.0,1000.0,1,0
18,10,1,0.0,0.0,0.0,0.0,13007.0,13912.0,35 aos,-2,...,20000.0,3,0.0,0.0,0.0,13007.0,1122.0,0.0,2,0
19,11,2,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,200000.0,3,2306.0,12.0,50.0,300.0,3738.0,66.0,2,0
20,12,2,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 aos,-1,...,260000.0,1,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,2,0
21,13,2,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 aos,-1,...,630000.0,2,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,2,0
22,14,Nan,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 aos,1,...,-,2,3200.0,0.0,3000.0,3000.0,1500.0,0.0,2,1
23,15,1,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 aos,0,...,250000.0,1,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,2,0
24,17,1,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 aos,0,...,20000.0,1,3200.0,0.0,1500.0,0.0,1650.0,0.0,2,1
25,18,1,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 aos,0,...,320000.0,1,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,1,0
26,19,Nan,0.0,0.0,0.0,0.0,0.0,0.0,49 aos,1,...,-,1,0.0,0.0,0.0,0.0,0.0,0.0,1,0
27,20,2,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,1,...,180000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,2,0
28,21,2,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,39 aos,0,...,130000.0,3,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,2,0
29,22,2,316.0,316.0,316.0,0.0,632.0,316.0,39 aos,-1,...,120000.0,2,316.0,316.0,0.0,632.0,316.0,0.0,1,1
30,23,Nan,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 aos,2,...,-,2,2007.0,3582.0,0.0,3601.0,0.0,1820.0,2,1
31,24,2,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 aos,-2,...,450000.0,1,19428.0,1473.0,560.0,0.0,0.0,1128.0,1,1
32,25,Nan,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 aos,0,...,-,1,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,2,0
33,26,1,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,2,0
34,26,1,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,2,0
35,27,1,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 aos,1,...,60000.0,1,0.0,1000.0,0.0,500.0,0.0,1000.0,2,1
36,28,2,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 aos,0,...,50000.0,3,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,2,0
37,29,2,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 aos,-1,...,50000.0,3,3415.0,3421.0,2044.0,30430.0,257.0,0.0,1,0
38,30,1,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 aos,0,...,50000.0,1,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,2,0
39,31,2,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,230000.0,1,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,2,0
40,32,1,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 aos,2,...,50000.0,2,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,2,1
41,33,1,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 aos,0,...,100000.0,1,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0,2,0
42,34,2,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,500000.0,2,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,1,0
43,35,1,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 aos,-2,...,500000.0,1,5006.0,31178.0,3180.0,0.0,5293.0,768.0,1,0
44,37,Nan,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 aos,0,...,-,2,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0,1,0
45,38,2,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 aos,0,...,60000.0,2,1500.0,1518.0,2043.0,0.0,47671.0,617.0,2,0
46,39,1,0.0,780.0,0.0,0.0,0.0,0.0,25 aos,1,...,50000.0,1,780.0,0.0,0.0,0.0,0.0,0.0,2,1
47,40,1,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 aos,-1,...,280000.0,1,9075.0,0.0,9976.0,8000.0,9525.0,781.0,2,0
48,41,1,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,33 aos,0,...,360000.0,1,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,2,0
49,42,2,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 aos,0,...,70000.0,1,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0,2,0
50,43,1,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,10000.0,2,1500.0,2927.0,1000.0,300.0,1000.0,500.0,2,0
51,44,2,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,140000.0,2,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,1,0
52,45,2,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 aos,0,...,40000.0,1,3000.0,5000.0,0.0,2000.0,3000.0,0.0,2,0
53,46,1,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,-2,...,210000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,2,1
54,47,2,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 aos,0,...,20000.0,1,3000.0,0.0,16741.0,334.0,0.0,0.0,2,1
55,48,2,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 aos,0,...,150000.0,5,1013.0,1170.0,0.0,0.0,0.0,0.0,2,1
56,49,1,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 aos,-1,...,380000.0,2,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0,2,0
57,50,Nan,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 aos,0,...,-,1,1318.0,1315.0,704.0,928.0,912.0,1069.0,2,0
58,16,2,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,23 aos,1,...,50000.0,3,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,3,0
59,36,1,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,30 aos,-1,...,160000.0,1,131.0,396.0,396.0,565.0,792.0,0.0,2,0

In [296]:
# Aplicando nombre a los generos de SEXO
df['SEX_x'] = df['SEX_x'].replace('1','male')
df['SEX_x'] = df['SEX_x'].replace('2','female')
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,LIMIT_BAL,EDUCATION_x,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,MARRIAGE,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
8,2,female,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 aos,-1,...,120000.0,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0,2,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 aos,0,...,90000.0,2,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,2,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,50000.0,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,1,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,50000.0,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,1,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 aos,-1,...,50000.0,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0,1,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,2,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,2,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 aos,0,...,500000.0,1,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,2,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 aos,0,...,100000.0,2,380.0,601.0,0.0,581.0,1687.0,1542.0,2,0
17,9,female,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 aos,0,...,140000.0,3,3329.0,0.0,432.0,1000.0,1000.0,1000.0,1,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 aos,-2,...,20000.0,3,0.0,0.0,0.0,13007.0,1122.0,0.0,2,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,200000.0,3,2306.0,12.0,50.0,300.0,3738.0,66.0,2,0
20,12,female,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 aos,-1,...,260000.0,1,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,2,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 aos,-1,...,630000.0,2,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,2,0
22,14,Nan,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 aos,1,...,-,2,3200.0,0.0,3000.0,3000.0,1500.0,0.0,2,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 aos,0,...,250000.0,1,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,2,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 aos,0,...,20000.0,1,3200.0,0.0,1500.0,0.0,1650.0,0.0,2,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 aos,0,...,320000.0,1,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,1,0
26,19,Nan,0.0,0.0,0.0,0.0,0.0,0.0,49 aos,1,...,-,1,0.0,0.0,0.0,0.0,0.0,0.0,1,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,1,...,180000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,2,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,39 aos,0,...,130000.0,3,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,2,0
29,22,female,316.0,316.0,316.0,0.0,632.0,316.0,39 aos,-1,...,120000.0,2,316.0,316.0,0.0,632.0,316.0,0.0,1,1
30,23,Nan,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 aos,2,...,-,2,2007.0,3582.0,0.0,3601.0,0.0,1820.0,2,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 aos,-2,...,450000.0,1,19428.0,1473.0,560.0,0.0,0.0,1128.0,1,1
32,25,Nan,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 aos,0,...,-,1,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,2,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,2,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,2,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 aos,1,...,60000.0,1,0.0,1000.0,0.0,500.0,0.0,1000.0,2,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 aos,0,...,50000.0,3,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,2,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 aos,-1,...,50000.0,3,3415.0,3421.0,2044.0,30430.0,257.0,0.0,1,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 aos,0,...,50000.0,1,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,2,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,230000.0,1,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,2,0
40,32,male,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 aos,2,...,50000.0,2,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,2,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 aos,0,...,100000.0,1,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0,2,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,500000.0,2,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,1,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 aos,-2,...,500000.0,1,5006.0,31178.0,3180.0,0.0,5293.0,768.0,1,0
44,37,Nan,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 aos,0,...,-,2,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0,1,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 aos,0,...,60000.0,2,1500.0,1518.0,2043.0,0.0,47671.0,617.0,2,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 aos,1,...,50000.0,1,780.0,0.0,0.0,0.0,0.0,0.0,2,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 aos,-1,...,280000.0,1,9075.0,0.0,9976.0,8000.0,9525.0,781.0,2,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,33 aos,0,...,360000.0,1,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,2,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 aos,0,...,70000.0,1,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0,2,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,10000.0,2,1500.0,2927.0,1000.0,300.0,1000.0,500.0,2,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,140000.0,2,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,1,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 aos,0,...,40000.0,1,3000.0,5000.0,0.0,2000.0,3000.0,0.0,2,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,-2,...,210000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,2,1
54,47,female,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 aos,0,...,20000.0,1,3000.0,0.0,16741.0,334.0,0.0,0.0,2,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 aos,0,...,150000.0,5,1013.0,1170.0,0.0,0.0,0.0,0.0,2,1
56,49,male,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 aos,-1,...,380000.0,2,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0,2,0
57,50,Nan,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 aos,0,...,-,1,1318.0,1315.0,704.0,928.0,912.0,1069.0,2,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,23 aos,1,...,50000.0,3,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,3,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,30 aos,-1,...,160000.0,1,131.0,396.0,396.0,565.0,792.0,0.0,2,0

In [297]:
df = df.drop(labels=["Unnamed: 0"], axis=1)
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,LIMIT_BAL,EDUCATION_x,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,MARRIAGE,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
1,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
2,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
3,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
4,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
5,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
6,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
7,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
8,2,female,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 aos,-1,...,120000.0,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0,2,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 aos,0,...,90000.0,2,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,2,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,50000.0,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,1,0
11,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,50000.0,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,1,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 aos,-1,...,50000.0,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0,1,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,2,0
14,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,2,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 aos,0,...,500000.0,1,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,2,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 aos,0,...,100000.0,2,380.0,601.0,0.0,581.0,1687.0,1542.0,2,0
17,9,female,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 aos,0,...,140000.0,3,3329.0,0.0,432.0,1000.0,1000.0,1000.0,1,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 aos,-2,...,20000.0,3,0.0,0.0,0.0,13007.0,1122.0,0.0,2,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,200000.0,3,2306.0,12.0,50.0,300.0,3738.0,66.0,2,0
20,12,female,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 aos,-1,...,260000.0,1,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,2,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 aos,-1,...,630000.0,2,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,2,0
22,14,Nan,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 aos,1,...,-,2,3200.0,0.0,3000.0,3000.0,1500.0,0.0,2,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 aos,0,...,250000.0,1,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,2,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 aos,0,...,20000.0,1,3200.0,0.0,1500.0,0.0,1650.0,0.0,2,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 aos,0,...,320000.0,1,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,1,0
26,19,Nan,0.0,0.0,0.0,0.0,0.0,0.0,49 aos,1,...,-,1,0.0,0.0,0.0,0.0,0.0,0.0,1,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,1,...,180000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,2,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,39 aos,0,...,130000.0,3,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,2,0
29,22,female,316.0,316.0,316.0,0.0,632.0,316.0,39 aos,-1,...,120000.0,2,316.0,316.0,0.0,632.0,316.0,0.0,1,1
30,23,Nan,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 aos,2,...,-,2,2007.0,3582.0,0.0,3601.0,0.0,1820.0,2,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 aos,-2,...,450000.0,1,19428.0,1473.0,560.0,0.0,0.0,1128.0,1,1
32,25,Nan,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 aos,0,...,-,1,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,2,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,2,0
34,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,2,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 aos,1,...,60000.0,1,0.0,1000.0,0.0,500.0,0.0,1000.0,2,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 aos,0,...,50000.0,3,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,2,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 aos,-1,...,50000.0,3,3415.0,3421.0,2044.0,30430.0,257.0,0.0,1,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 aos,0,...,50000.0,1,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,2,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,230000.0,1,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,2,0
40,32,male,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 aos,2,...,50000.0,2,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,2,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 aos,0,...,100000.0,1,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0,2,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,500000.0,2,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,1,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 aos,-2,...,500000.0,1,5006.0,31178.0,3180.0,0.0,5293.0,768.0,1,0
44,37,Nan,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 aos,0,...,-,2,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0,1,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 aos,0,...,60000.0,2,1500.0,1518.0,2043.0,0.0,47671.0,617.0,2,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 aos,1,...,50000.0,1,780.0,0.0,0.0,0.0,0.0,0.0,2,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 aos,-1,...,280000.0,1,9075.0,0.0,9976.0,8000.0,9525.0,781.0,2,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,33 aos,0,...,360000.0,1,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,2,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 aos,0,...,70000.0,1,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0,2,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,10000.0,2,1500.0,2927.0,1000.0,300.0,1000.0,500.0,2,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,140000.0,2,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,1,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 aos,0,...,40000.0,1,3000.0,5000.0,0.0,2000.0,3000.0,0.0,2,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,-2,...,210000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,2,1
54,47,female,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 aos,0,...,20000.0,1,3000.0,0.0,16741.0,334.0,0.0,0.0,2,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 aos,0,...,150000.0,5,1013.0,1170.0,0.0,0.0,0.0,0.0,2,1
56,49,male,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 aos,-1,...,380000.0,2,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0,2,0
57,50,Nan,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 aos,0,...,-,1,1318.0,1315.0,704.0,928.0,912.0,1069.0,2,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,23 aos,1,...,50000.0,3,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,3,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,30 aos,-1,...,160000.0,1,131.0,396.0,396.0,565.0,792.0,0.0,2,0

In [298]:
# Elimando registros duplicados
df.drop_duplicates(subset=None, keep='first', inplace=True)
df

,ID,SEX_x,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE_x,PAY_0,...,LIMIT_BAL,EDUCATION_x,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,MARRIAGE,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
8,2,female,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 aos,-1,...,120000.0,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0,2,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 aos,0,...,90000.0,2,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,2,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,50000.0,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,1,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 aos,-1,...,50000.0,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0,1,0
13,6,male,64400.0,57069.0,57608.0,19394.0,19619.0,20024.0,37 aos,0,...,50000.0,1,2500.0,1815.0,657.0,1000.0,1000.0,800.0,2,0
15,7,male,367965.0,412023.0,445007.0,542653.0,483003.0,473944.0,29 aos,0,...,500000.0,1,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,2,0
16,8,female,11876.0,380.0,601.0,221.0,-159.0,567.0,23 aos,0,...,100000.0,2,380.0,601.0,0.0,581.0,1687.0,1542.0,2,0
17,9,female,11285.0,14096.0,12108.0,12211.0,11793.0,3719.0,28 aos,0,...,140000.0,3,3329.0,0.0,432.0,1000.0,1000.0,1000.0,1,0
18,10,male,0.0,0.0,0.0,0.0,13007.0,13912.0,35 aos,-2,...,20000.0,3,0.0,0.0,0.0,13007.0,1122.0,0.0,2,0
19,11,female,11073.0,9787.0,5535.0,2513.0,1828.0,3731.0,34 years,0,...,200000.0,3,2306.0,12.0,50.0,300.0,3738.0,66.0,2,0
20,12,female,12261.0,21670.0,9966.0,8517.0,22287.0,13668.0,51 aos,-1,...,260000.0,1,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,2,0
21,13,female,12137.0,6500.0,6500.0,6500.0,6500.0,2870.0,41 aos,-1,...,630000.0,2,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,2,0
22,14,Nan,65802.0,67369.0,65701.0,66782.0,36137.0,36894.0,30 aos,1,...,-,2,3200.0,0.0,3000.0,3000.0,1500.0,0.0,2,1
23,15,male,70887.0,67060.0,63561.0,59696.0,56875.0,55512.0,29 aos,0,...,250000.0,1,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,2,0
24,17,male,15376.0,18010.0,17428.0,18338.0,17905.0,19104.0,24 aos,0,...,20000.0,1,3200.0,0.0,1500.0,0.0,1650.0,0.0,2,1
25,18,male,253286.0,246536.0,194663.0,70074.0,5856.0,195599.0,49 aos,0,...,320000.0,1,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,1,0
26,19,Nan,0.0,0.0,0.0,0.0,0.0,0.0,49 aos,1,...,-,1,0.0,0.0,0.0,0.0,0.0,0.0,1,0
27,20,female,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,1,...,180000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,2,0
28,21,female,38358.0,27688.0,24489.0,20616.0,11802.0,930.0,39 aos,0,...,130000.0,3,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,2,0
29,22,female,316.0,316.0,316.0,0.0,632.0,316.0,39 aos,-1,...,120000.0,2,316.0,316.0,0.0,632.0,316.0,0.0,1,1
30,23,Nan,41087.0,42445.0,45020.0,44006.0,46905.0,46012.0,26 aos,2,...,-,2,2007.0,3582.0,0.0,3601.0,0.0,1820.0,2,1
31,24,female,5512.0,19420.0,1473.0,560.0,0.0,0.0,40 aos,-2,...,450000.0,1,19428.0,1473.0,560.0,0.0,0.0,1128.0,1,1
32,25,Nan,4744.0,7070.0,0.0,5398.0,6360.0,8292.0,23 aos,0,...,-,1,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,2,0
33,26,male,47620.0,41810.0,36023.0,28967.0,29829.0,30046.0,23 years,0,...,50000.0,3,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,2,0
35,27,male,-109.0,-425.0,259.0,-57.0,127.0,-189.0,27 aos,1,...,60000.0,1,0.0,1000.0,0.0,500.0,0.0,1000.0,2,1
36,28,female,22541.0,16138.0,17163.0,17878.0,18931.0,19617.0,30 aos,0,...,50000.0,3,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,2,0
37,29,female,650.0,3415.0,3416.0,2040.0,30430.0,257.0,47 aos,-1,...,50000.0,3,3415.0,3421.0,2044.0,30430.0,257.0,0.0,1,0
38,30,male,15329.0,16575.0,17496.0,17907.0,18375.0,11400.0,26 aos,0,...,50000.0,1,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,2,0
39,31,female,16646.0,17265.0,13266.0,15339.0,14307.0,36923.0,27 years,-1,...,230000.0,1,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,2,0
40,32,male,30518.0,29618.0,22102.0,22734.0,23217.0,23680.0,33 aos,2,...,50000.0,2,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,2,1
41,33,male,93036.0,84071.0,82880.0,80958.0,78703.0,75589.0,32 aos,0,...,100000.0,1,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0,2,0
42,34,female,10929.0,4152.0,22722.0,7521.0,71439.0,8981.0,54 years,-2,...,500000.0,2,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,1,0
43,35,male,13709.0,5006.0,31130.0,3180.0,0.0,5293.0,58 aos,-2,...,500000.0,1,5006.0,31178.0,3180.0,0.0,5293.0,768.0,1,0
44,37,Nan,186503.0,181328.0,180422.0,170410.0,173901.0,177413.0,40 aos,0,...,-,2,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0,1,0
45,38,female,15054.0,9806.0,11068.0,6026.0,-28335.0,18660.0,22 aos,0,...,60000.0,2,1500.0,1518.0,2043.0,0.0,47671.0,617.0,2,0
46,39,male,0.0,780.0,0.0,0.0,0.0,0.0,25 aos,1,...,50000.0,1,780.0,0.0,0.0,0.0,0.0,0.0,2,1
47,40,male,498.0,9075.0,4641.0,9976.0,17976.0,9477.0,31 aos,-1,...,280000.0,1,9075.0,0.0,9976.0,8000.0,9525.0,781.0,2,0
48,41,male,218668.0,221296.0,206895.0,628699.0,195969.0,179224.0,33 aos,0,...,360000.0,1,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,2,0
49,42,female,67521.0,66999.0,63949.0,63699.0,64718.0,65970.0,25 aos,0,...,70000.0,1,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0,2,0
50,43,male,1877.0,3184.0,6003.0,3576.0,3670.0,4451.0,22 years,0,...,10000.0,2,1500.0,2927.0,1000.0,300.0,1000.0,500.0,2,0
51,44,female,59504.0,61544.0,62925.0,64280.0,67079.0,69802.0,37 years,0,...,140000.0,2,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,1,0
52,45,female,18927.0,21295.0,25921.0,25209.0,26636.0,29197.0,30 aos,0,...,40000.0,1,3000.0,5000.0,0.0,2000.0,3000.0,0.0,2,0
53,46,male,0.0,0.0,0.0,0.0,0.0,0.0,29 aos,-2,...,210000.0,1,0.0,0.0,0.0,0.0,0.0,0.0,2,1
54,47,female,14028.0,16484.0,15800.0,16341.0,16675.0,0.0,22 aos,0,...,20000.0,1,3000.0,0.0,16741.0,334.0,0.0,0.0,2,1
55,48,female,4463.0,3034.0,1170.0,1170.0,0.0,0.0,46 aos,0,...,150000.0,5,1013.0,1170.0,0.0,0.0,0.0,0.0,2,1
56,49,male,22401.0,21540.0,15134.0,32018.0,11849.0,11873.0,32 aos,-1,...,380000.0,2,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0,2,0
57,50,Nan,17447.0,18479.0,19476.0,19865.0,20480.0,20063.0,24 aos,0,...,-,1,1318.0,1315.0,704.0,928.0,912.0,1069.0,2,0
58,16,female,50614.0,29173.0,28116.0,28771.0,29531.0,30211.0,23 aos,1,...,50000.0,3,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,3,0
59,36,male,30265.0,-131.0,-527.0,-923.0,-1488.0,-1884.0,30 aos,-1,...,160000.0,1,131.0,396.0,396.0,565.0,792.0,0.0,2,0

In [299]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 0 to 59
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          50 non-null     int64
 1   SEX_x                       50 non-null     object
 2   BILL_AMT1                   50 non-null     float64
 3   BILL_AMT2                   50 non-null     float64
 4   BILL_AMT3                   50 non-null     float64
 5   BILL_AMT4                   50 non-null     float64
 6   BILL_AMT5                   50 non-null     float64
 7   BILL_AMT6                   50 non-null     float64
 8   AGE_x                       50 non-null     object
 9   PAY_0                       50 non-null     int64
 10  PAY_2                       50 non-null     int64
 11  PAY_3                       50 non-null     int64
 12  PAY_4                       50 non-null     int64
 13  PAY_5                       50 non-null     int64
 14  PAY_6                       50 non-null     int64
 15  LIMIT_BAL                   50 non-null     object
 16  EDUCATION_x                 50 non-null     object
 17  PAY_AMT1                    50 non-null     float64
 18  PAY_AMT2                    50 non-null     float64
 19  PAY_AMT3                    50 non-null     float64
 20  PAY_AMT4                    50 non-null     float64
 21  PAY_AMT5                    50 non-null     float64
 22  PAY_AMT6                    50 non-null     float64
 23  MARRIAGE                    50 non-null     int64
 24  default.payment.next.month  50 non-null     int64
dtypes: float64(12), int64(9), object(4)
memory usage: 10.2+ KB

In [300]:
df = df.rename(columns={'SEX_x': 'SEX', 'AGE_x': 'AGE', 'EDUCATION_x': 'EDUCATION'})
df.head(5)

,ID,SEX,BILL_AMT1,BILL_AMT2,BILL_AMT3,BILL_AMT4,BILL_AMT5,BILL_AMT6,AGE,PAY_0,...,LIMIT_BAL,EDUCATION,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,MARRIAGE,default.payment.next.month
0,1,female,3913.0,3102.0,689.0,0.0,0.0,0.0,24 aos,2,...,20000.0,2,0.0,689.0,0.0,0.0,0.0,0.0,1,1
8,2,female,2682.0,1725.0,2682.0,3272.0,3455.0,3261.0,26 aos,-1,...,120000.0,2,0.0,1000.0,1000.0,1000.0,0.0,2000.0,2,1
9,3,female,29239.0,14027.0,13559.0,14331.0,14948.0,15549.0,34 aos,0,...,90000.0,2,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,2,0
10,4,female,46990.0,48233.0,49291.0,28314.0,28959.0,29547.0,37 aos,0,...,50000.0,2,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,1,0
12,5,male,8617.0,5670.0,35835.0,20940.0,19146.0,19131.0,57 aos,-1,...,50000.0,2,2000.0,36681.0,10000.0,9000.0,689.0,679.0,1,0

In [301]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, 0 to 59
Data columns (total 25 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   ID                          50 non-null     int64
 1   SEX                         50 non-null     object
 2   BILL_AMT1                   50 non-null     float64
 3   BILL_AMT2                   50 non-null     float64
 4   BILL_AMT3                   50 non-null     float64
 5   BILL_AMT4                   50 non-null     float64
 6   BILL_AMT5                   50 non-null     float64
 7   BILL_AMT6                   50 non-null     float64
 8   AGE                         50 non-null     object
 9   PAY_0                       50 non-null     int64
 10  PAY_2                       50 non-null     int64
 11  PAY_3                       50 non-null     int64
 12  PAY_4                       50 non-null     int64
 13  PAY_5                       50 non-null     int64
 14  PAY_6                       50 non-null     int64
 15  LIMIT_BAL                   50 non-null     object
 16  EDUCATION                   50 non-null     object
 17  PAY_AMT1                    50 non-null     float64
 18  PAY_AMT2                    50 non-null     float64
 19  PAY_AMT3                    50 non-null     float64
 20  PAY_AMT4                    50 non-null     float64
 21  PAY_AMT5                    50 non-null     float64
 22  PAY_AMT6                    50 non-null     float64
 23  MARRIAGE                    50 non-null     int64
 24  default.payment.next.month  50 non-null     int64
dtypes: float64(12), int64(9), object(4)
memory usage: 10.2+ KB

In [302]:
df6 = df.iloc[:, [0, 15, 1, 16, 23, 8, 9, 10, 11, 12, 13, 14, 2, 3, 4, 5, 6, 7, 17, 18, 19, 20, 21, 22, 24]]
df6

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,female,2,1,24 aos,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
8,2,120000.0,female,2,2,26 aos,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
9,3,90000.0,female,2,2,34 aos,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
10,4,50000.0,female,2,1,37 aos,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
12,5,50000.0,male,2,1,57 aos,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0
13,6,50000.0,male,1,2,37 aos,0,0,0,0,...,19394.0,19619.0,20024.0,2500.0,1815.0,657.0,1000.0,1000.0,800.0,0
15,7,500000.0,male,1,2,29 aos,0,0,0,0,...,542653.0,483003.0,473944.0,55000.0,40000.0,38000.0,20239.0,13750.0,13770.0,0
16,8,100000.0,female,2,2,23 aos,0,-1,-1,0,...,221.0,-159.0,567.0,380.0,601.0,0.0,581.0,1687.0,1542.0,0
17,9,140000.0,female,3,1,28 aos,0,0,2,0,...,12211.0,11793.0,3719.0,3329.0,0.0,432.0,1000.0,1000.0,1000.0,0
18,10,20000.0,male,3,2,35 aos,-2,-2,-2,-2,...,0.0,13007.0,13912.0,0.0,0.0,0.0,13007.0,1122.0,0.0,0
19,11,200000.0,female,3,2,34 years,0,0,2,0,...,2513.0,1828.0,3731.0,2306.0,12.0,50.0,300.0,3738.0,66.0,0
20,12,260000.0,female,1,2,51 aos,-1,-1,-1,-1,...,8517.0,22287.0,13668.0,21818.0,9966.0,8583.0,22301.0,0.0,3640.0,0
21,13,630000.0,female,2,2,41 aos,-1,0,-1,-1,...,6500.0,6500.0,2870.0,1000.0,6500.0,6500.0,6500.0,2870.0,0.0,0
22,14,-,Nan,2,2,30 aos,1,2,2,0,...,66782.0,36137.0,36894.0,3200.0,0.0,3000.0,3000.0,1500.0,0.0,1
23,15,250000.0,male,1,2,29 aos,0,0,0,0,...,59696.0,56875.0,55512.0,3000.0,3000.0,3000.0,3000.0,3000.0,3000.0,0
24,17,20000.0,male,1,2,24 aos,0,0,2,2,...,18338.0,17905.0,19104.0,3200.0,0.0,1500.0,0.0,1650.0,0.0,1
25,18,320000.0,male,1,1,49 aos,0,0,0,-1,...,70074.0,5856.0,195599.0,10358.0,10000.0,75940.0,20000.0,195599.0,50000.0,0
26,19,-,Nan,1,1,49 aos,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
27,20,180000.0,female,1,2,29 aos,1,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
28,21,130000.0,female,3,2,39 aos,0,0,0,0,...,20616.0,11802.0,930.0,3000.0,1537.0,1000.0,2000.0,930.0,33764.0,0
29,22,120000.0,female,2,1,39 aos,-1,-1,-1,-1,...,0.0,632.0,316.0,316.0,316.0,0.0,632.0,316.0,0.0,1
30,23,-,Nan,2,2,26 aos,2,0,0,2,...,44006.0,46905.0,46012.0,2007.0,3582.0,0.0,3601.0,0.0,1820.0,1
31,24,450000.0,female,1,1,40 aos,-2,-2,-2,-2,...,560.0,0.0,0.0,19428.0,1473.0,560.0,0.0,0.0,1128.0,1
32,25,-,Nan,1,2,23 aos,0,0,0,-1,...,5398.0,6360.0,8292.0,5757.0,0.0,5398.0,1200.0,2045.0,2000.0,0
33,26,50000.0,male,3,2,23 years,0,0,0,0,...,28967.0,29829.0,30046.0,1973.0,1426.0,1001.0,1432.0,1062.0,997.0,0
35,27,60000.0,male,1,2,27 aos,1,-2,-1,-1,...,-57.0,127.0,-189.0,0.0,1000.0,0.0,500.0,0.0,1000.0,1
36,28,50000.0,female,3,2,30 aos,0,0,0,0,...,17878.0,18931.0,19617.0,1300.0,1300.0,1000.0,1500.0,1000.0,1012.0,0
37,29,50000.0,female,3,1,47 aos,-1,-1,-1,-1,...,2040.0,30430.0,257.0,3415.0,3421.0,2044.0,30430.0,257.0,0.0,0
38,30,50000.0,male,1,2,26 aos,0,0,0,0,...,17907.0,18375.0,11400.0,1500.0,1500.0,1000.0,1000.0,1600.0,0.0,0
39,31,230000.0,female,1,2,27 years,-1,-1,-1,-1,...,15339.0,14307.0,36923.0,17270.0,13281.0,15339.0,14307.0,37292.0,0.0,0
40,32,50000.0,male,2,2,33 aos,2,0,0,0,...,22734.0,23217.0,23680.0,1718.0,1500.0,1000.0,1000.0,1000.0,716.0,1
41,33,100000.0,male,1,2,32 aos,0,0,0,0,...,80958.0,78703.0,75589.0,3023.0,3511.0,3302.0,3204.0,3200.0,2504.0,0
42,34,500000.0,female,2,1,54 years,-2,-2,-2,-2,...,7521.0,71439.0,8981.0,4152.0,22827.0,7521.0,71439.0,981.0,51582.0,0
43,35,500000.0,male,1,1,58 aos,-2,-2,-2,-2,...,3180.0,0.0,5293.0,5006.0,31178.0,3180.0,0.0,5293.0,768.0,0
44,37,-,Nan,2,1,40 aos,0,0,0,0,...,170410.0,173901.0,177413.0,8026.0,8060.0,6300.0,6400.0,6400.0,6737.0,0
45,38,60000.0,female,2,2,22 aos,0,0,0,0,...,6026.0,-28335.0,18660.0,1500.0,1518.0,2043.0,0.0,47671.0,617.0,0
46,39,50000.0,male,1,2,25 aos,1,-1,-1,-2,...,0.0,0.0,0.0,780.0,0.0,0.0,0.0,0.0,0.0,1
47,40,280000.0,male,1,2,31 aos,-1,-1,2,-1,...,9976.0,17976.0,9477.0,9075.0,0.0,9976.0,8000.0,9525.0,781.0,0
48,41,360000.0,male,1,2,33 aos,0,0,0,0,...,628699.0,195969.0,179224.0,10000.0,7000.0,6000.0,188840.0,28000.0,4000.0,0
49,42,70000.0,female,1,2,25 aos,0,0,0,0,...,63699.0,64718.0,65970.0,3000.0,4500.0,4042.0,2500.0,2800.0,2500.0,0
50,43,10000.0,male,2,2,22 years,0,0,0,0,...,3576.0,3670.0,4451.0,1500.0,2927.0,1000.0,300.0,1000.0,500.0,0
51,44,140000.0,female,2,1,37 years,0,0,0,0,...,64280.0,67079.0,69802.0,3000.0,3000.0,3000.0,4000.0,4000.0,3000.0,0
52,45,40000.0,female,1,2,30 aos,0,0,0,2,...,25209.0,26636.0,29197.0,3000.0,5000.0,0.0,2000.0,3000.0,0.0,0
53,46,210000.0,male,1,2,29 aos,-2,-2,-2,-2,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
54,47,20000.0,female,1,2,22 aos,0,0,2,-1,...,16341.0,16675.0,0.0,3000.0,0.0,16741.0,334.0,0.0,0.0,1
55,48,150000.0,female,5,2,46 aos,0,0,-1,0,...,1170.0,0.0,0.0,1013.0,1170.0,0.0,0.0,0.0,0.0,1
56,49,380000.0,male,2,2,32 aos,-1,-1,-1,-1,...,32018.0,11849.0,11873.0,21540.0,15138.0,24677.0,11851.0,11875.0,8251.0,0
57,50,-,Nan,1,2,24 aos,0,0,0,0,...,19865.0,20480.0,20063.0,1318.0,1315.0,704.0,928.0,912.0,1069.0,0
58,16,50000.0,female,3,3,23 aos,1,2,0,0,...,28771.0,29531.0,30211.0,0.0,1500.0,1100.0,1200.0,1300.0,1100.0,0
59,36,160000.0,male,1,2,30 aos,-1,-1,-2,-2,...,-923.0,-1488.0,-1884.0,131.0,396.0,396.0,565.0,792.0,0.0,0

In [303]:
df6.to_csv('Trabajo_Pablito_Toledo.csv', sep=',')